[2015-11-17 20:55] dleeapho opened #1 "The initial version tag should be in sync with the initial version of CLI"

[2015-11-17 23:07] ahmetb opened #2 "src/ is unnecessary"
This is a Dockerfile repo already.

[2015-11-17 23:11] ahmetb opened #3 "dotnet:0.0.1.alpha Should be dotnet:0.0.1-alpha"
This is a better format. Please correct the dockerfile.

[2015-11-18 00:32] #2 closed, assigned to MichaelSimons

[2015-11-18 00:33] #3 closed, assigned to MichaelSimons

[2015-11-18 16:30] dleeapho commented on #1
I meant tags in the images produced, not the implementation. We used directories (as you suggested) to implement it.

[2015-11-18 16:30] #1 closed

[2015-11-18 16:33] dleeapho opened #5 "README.md at the repo root should be a symblink to the README.md next to the Dockerfile"

[2015-11-18 20:19] MichaelSimons opened #6 "Docker images should be based on Ubuntu images rather than Debian"
CLI tooling currently only supports Ubuntu therefore the base image for the dotnet docker images should be switched from Debian based to Ubuntu.  (see https://github.com/dotnet/cli/issues/212)

[2015-11-18 20:43] ahmetalpbalkan commented on #6
If you're going to apply this fix, please make sure that the responsible team supports Debian as soon as possible.

In Docker land, Ubuntu is something mostly beginners use and not a common practice in production images. You can see almost all official Docker images (https://github.com/docker-library/) and our microsoft/aspnet image are based on Debian. Also read: http://mjg59.dreamwidth.org/36312

[2015-11-18 20:52] Petermarcu commented on #6
@ahmetalpbalkan, do you know how the aspnet images are built up?

[2015-11-19 00:01] Petermarcu commented on #6
Thanks for the pointer to the dockerfile. This is working because they depend on mono. We don't have official coreclr support on Debian as of yet. Shouldn't be too far out though.

[2015-11-19 10:02] jparis opened #7 "documentation - FROM dotnet:<version> doesn't work when dotnet doesn't exist in library."
`FROM dotnet:<version>` in the documentation should be `FROM microsoft/dotnet:<version>` for those who don't already have the container in their library.

I'm assuming this is a general issue, but could possibly just be my instance. I'm running DockerToolbox on windows 8.1. After adding `microsoft/` in the FROM statement, seems to work fine.

[2015-11-19 16:52] #7 closed

[2015-11-19 21:11] #6 closed

[2015-11-19 21:54] MichaelSimons opened #11 "Base Dockerfile should be based on Debian"
The base Dockerfile should be based on Debian.  Currently the .NET CLI tooling does not support Debian.  Issue #6 has some additional information on why this is desirable.

[2015-11-20 21:05] MichaelSimons opened #12 "Dockerfile should use Debian package repo to get the dotnet package"
Currently the base Dockerfile obtains the dotnet Debian package via a public drop share.  This was done because there wasn't a public Debian package repo available.  There is one now available (http://apt-mo.trafficmanager.net/repos/dotnet/) and it should be used.  This eliminates the need to manually install dependent packages.

[2015-11-22 14:25] #5 closed

[2015-11-22 14:26] ahmetalpbalkan opened #14 "Use build triggers"
In aspnet image we use build trigger such as:

![image](https://cloud.githubusercontent.com/assets/159209/11324274/f89e9478-9124-11e5-85f4-2fe58199d7b1.png)

In case one debian/mono repos get rebuilt (such as security update) we get rebuilt, too. Please consider enabling that for this repo as well (see Build Settings tab) @dleeapho

[2015-11-22 14:27] ahmetalpbalkan opened #15 "Update microsoft/aspnet-*-coreclr?"
Now that this image is available, should we update `microsoft/aspnet-*-coreclr` images with this image?

I should've opened the issue on aspnet-docker but this seemed like a better place to discuss.

cc: @dleeapho @glennc

[2015-11-23 14:43] MichaelSimons commented on #14
There are two potential issue with using build triggers that we need to look out for.

1.  Previously, the CLI team was manually publishing the Debian packages to the repo after the package was signed off on.  This was not part of their automated build process.  We need to follow-up with them to see if their process has changed.  We could make use of a build trigger if need be.
2.  Docker does not

[2015-11-23 18:58] #12 closed

[2015-11-23 19:32] ahmetalpbalkan commented on #14
@MichaelSimons valid points but having this is better than nothing and I don't think onbuild image will be impacted with that. Simply if there's a newer build of `buildpack-deps:trusty-scm` all tags will be triggered to build again from source.

Our builds should be idempotent as in it should not matter when or how many times we're building these images. If there's a critical vulnerability in `bui

[2015-11-23 20:59] MichaelSimons commented on #14
@ahmetalpbalkan, regarding the onbuild image.  This image is based on the Microsoft/dotnet:0.0.1-alpha image.  Because of this, the onbuild image must be rebuilt anytime the Microsoft/dotnet:0.0.1-alpha image if rebuilt.  More specific, it needs to be rebuilt after the Microsoft/dotnet:0.0.1-alpha image is built.  Docker build triggers cause the all images to get rebuilt concurrently.  This means

[2015-11-23 23:37] dleeapho opened #16 "Minimal runtime dependencies should be captured in a --slim variant"
**NAME**
--slim variant for dotnet cli apps

**SYNOPSIS**
Provide the smallest possible base image for any .NET Core app to run in.

**DESCRIPTION**
Developers can use `dotnet publish` and `dotnet compile --native` to encapsulate runtime dependencies that can then be `COPY`'d to a minimal-footprint image (i.e. excludes dotnet cli toolchain). Yet there are Linux packages that are needed for any .NE

[2015-12-11 07:40] colemickens opened #17 "libuv is not included"
`dpkg -l | grep uv` returns no results. When I try to run these https://github.com/davidfowl/dotnetcli-aspnet5 examples in the container I get this:

[code]

[2015-12-11 08:24] ahmetalpbalkan commented on #17
@colemickens hmm I think microsoft/aspnet docker image is the right place to do that. It installs libuv although it doesn't use this new dotnet docker image, soon it will.

[2015-12-11 22:18] ahmetalpbalkan commented on #15
Discussing this at https://github.com/aspnet/aspnet-docker/issues/124

[2015-12-11 22:18] #15 closed

[2015-12-14 22:32] colemickens commented on #17
I think I agree, since libuv is just required by Kestrel.

[2015-12-14 22:32] #17 closed

[2016-01-21 17:36] dleeapho opened #18 "Adopt Dotnet CLI Beta version names"
- Beta folder, tags
- Need to know the Debian package feed for CLI Beta

[2016-01-21 17:43] dleeapho opened #19 "Alpha source Debian package is no longer available"
We can find an archived package feed or retire the Alpha build (once we have a Beta build). Until we fix this any repo change will trigger a broken Docker Hub build.

[2016-01-21 17:51] dleeapho opened #20 "Create release and stable images that correspond to CLI"
https://github.com/dotnet/cli/issues/668

[2016-01-26 21:50] petr-k opened #21 "Support building against Mono"
Now, .NET Framework Reference Assemblies are not available and the image cannot be used to build `net451` targets.

[2016-01-26 22:11] ahmetalpbalkan commented on #21
@petr-k are you getting a compilation error?

[2016-01-26 22:25] petr-k commented on #21
On `dotnet pack`, I am getting:
`DOTNET1012: The reference assemblies directory was not specified. You can set the location using the DOTNET_REFERENCE_ASSEMBLIES_PATH environment variable.`

I ran bash and tried installing `mono-complete` package and pointing the environment variable above to mono's `xbuild-frameworks` folder, but to no avail.

[2016-01-26 22:29] ahmetalpbalkan commented on #21
I haven't used dotnet CLI before. I've only built with MonoDevelop in the past. Any ideas what might be causing that? I am planning to refresh bits on NuGet today or tomorrow, if you could find what is wrong, I really appreciate any fixes. Other than that I'm afraid I don't have a solution here.

[2016-01-26 22:35] MichaelSimons commented on #21
This looks related to dotnet/cli#531.

[2016-01-26 22:36] ahmetalpbalkan commented on #21
oh I'm sorry I confused this repo with my Docker.DotNet repo, apologies. Ignore my comment.

[2016-01-26 22:54] petr-k commented on #21
@MichaelSimons Yes, it's slightly related. Actually, the issue you're linking to led me to the idea to specify the variable myself, one of the comments there also says which paths should be taken into account. I think the primary issue is that the Mono bits are just not included in the image in the first place.

[2016-02-12 15:16] dleeapho opened #22 "Create Alpine-based dotnet images"
Alpine is a small footprint distro that is gaining wide adoption in Official images. Prereq is to get Alpine support for the dotnet runtime, libraries, and CLI.

[2016-02-12 16:27] dleeapho commented on #18
The next release will be tagged "Preview"

[2016-02-22 01:00] merbla opened #23 "Issue when pulling base docker image"
Hi,

I am not sure if this a local issue for myself or something larger.  When pulling the latest image from DockerHub for `microsoft/dotnet` I receive the following issue.

Am I missing something?

Thanks,

*Example*
[code]

*My Environment*

- `OSX 10.11.3`
- `Docker version 1.10.0, build 590d5108`
- `docker-machine version 0.6.0, build e27fb87`
- `Virtual Box 5.0.14 r105127`

[2016-02-22 15:18] MichaelSimons commented on #23
@merbla, can you try running dotnet a second time and report back whether or not it is successful?

[2016-02-22 15:52] dleeapho commented on #23
I can repro it, but it seems intermittent, ie on the same container, running dotnet will sometimes work.

[2016-02-29 16:13] MichaelSimons commented on #23
This issue is being tracked in the dotnet cli repository - dotnet/cli#1582.

[2016-02-29 16:13] #23 closed

[2016-03-01 05:34] merbla commented on #23
Thanks @MichaelSimons @dleeapho

[2016-03-06 14:14] borgdylan commented on #21
The CLI does not support mono at all. If you need a variant/fork that does check out the deb package at https://github.com/borgdylan/dotnet-cli.

[2016-03-07 20:22] #19 closed

[2016-03-12 21:47] petr-k commented on #21
@borgdylan How does the statement of CLI not supporting mono at all relate, e.g., to the issue @MichaelSimons linked above? It seems that CLI aims to support Mono as well..

[2016-03-13 03:01] borgdylan commented on #21
I meant that the stock CLI requires .net core to run plus it ignores the existence of mono debug files while publishing.

[2016-03-13 08:02] petr-k commented on #21
What do you mean by "mono debug files", exactly? Is it the reference assemblies?

[2016-03-13 09:14] borgdylan commented on #21
mono "pdbs" i.e mdb files are not supported. I will consider patching my fork of the cli that runs on mono so that publish does not fail when no pdbs are present when compiling in debug mode..

[2016-03-13 09:24] petr-k commented on #21
The issue I described has nothing to do with the unavailability of runtime debugging information during publishing, but merely the fact that the image lacks the required reference assemblies to target .NET 4.5.x. Can you explain how that relates to your fork? I should not need any forked version of CLI since it does support mono.

[2016-03-13 09:36] borgdylan commented on #21
My fork uses mono as the CLR  (targeting net461) instead of CoreCLR. It also pre sets the reference assemblies env var in the bootup scripts.

[2016-03-13 09:52] petr-k commented on #21
Running the CLI on mono is not needed for it to target net461, though, or is it? PDBs/MDBs do not play any role here.

[2016-03-13 10:31] borgdylan commented on #21
No it does not. But not all machines can run CoreCLR as things stand currently. Also on Linux to run net461 apps mono is needed which supports portable pdb and mdb files only for debugging. Do remember that not all compilers support portable pdb output and still output regular pdb on windows and mdb on Linux/mac.

[2016-03-13 10:36] petr-k commented on #21
Just to be perfectly clear - I do not intend to run the output artifacts on Linux. The scenario I am after is to build on Linux, target NET461, run the output on Windows.

[2016-03-13 10:41] borgdylan commented on #21
Remember that you will not be able to debug them on windows i.e. the debug symbols will not load due to the path differences and teh differences between portable and regular pdb.

[2016-03-18 10:33] muojp opened #26 "`latest` image freezes immediately after running `dotnet new`"
Hi. I ran `microsoft/dotnet:latest` image to give a try on dotnet commands and found the image seem somehow wrong.

Repro:

[code]

Issue: `Created new C# project in /hello_world.` line doesn't return and no further operation can be done (whole container freezes). Also, even if you try `docker kill XXXXXXXX` to force-kill frozen container, the container cannot be killed (only one workaround is to

[2016-03-18 19:43] MichaelSimons commented on #26
I have been able to reproduce this on 1.9.1.  It will also reproduce if you upgrade `dotnet` within the container to the latest version.  It will not repro for me once I upgrade the machine to docker 1.10 however.  That may be a viable workaround.  I also noticed it does not appear to be specific to any particular `dotnet` command - you can repro by just running `dotnet` to get the list of command

[2016-03-19 06:46] muojp commented on #26
@MichaelSimons thanks. I confirmed it works fine on Docker 1.10.3.

I suppose it great to put `use 1.10+ or your Docker get stuck` sort of memo on README. How do you think?

[2016-03-21 21:34] MichaelSimons commented on #26
@muojp, can you state what Linux host you were able to reproduce this issue with?  Os version? Kernel version?

I don't think it is a correct statement to say you need 1.10+ for this to work.  I suspect the underlying issue may be described here https://github.com/docker/docker/issues/18180.  If this is indeed the case, this is a kernel issue.

[2016-03-21 21:50] muojp commented on #26
@MichaelSimons sure.

I can reproduce the issue on the following Linux env. (on Azure)

[code]

On the other hand, I cannot reproduce the issue anymore on my OS X env. (via VMware Fusion+Boot2Docker) after updating to b2d 1.10.3( https://github.com/boot2docker/boot2docker/releases/download/v1.10.3/boot2docker.iso ):

[code]

[2016-03-21 22:02] MichaelSimons commented on #26
@muojp, per https://github.com/docker/docker/issues/18180#issuecomment-193708192, you would need to update your Debian kernel to 3.16.7-ckt20-1+deb8u4 to get the fix for the issue.

[2016-03-21 22:24] muojp commented on #26
@MichaelSimons sounds great.

I performed `apt-get update` followed by `apt-get upgrade` and checked the log entry saying `replacing 3.16.7-ckt20-1+deb8u3 with 3.16.7-ckt20-1+deb8u4`, then I rebooted to see the result.

[code]

seems great. Then I tested the same command:

[code]

Great! Now I can continue testing `dotnet` command family with Docker. :smiley: I didn't imagine this is a kernel issu

[2016-03-22 13:36] MichaelSimons commented on #11
I have verified CoreCLR (packages) now supports Debian 8.  Dotnet cli RID detection also works.  The only remaining piece is that the project.json produced by `dotnet new` has not been updated to reference the latest NETStandard.Library that supports Debian 8.  This is needed to provide a working 'out of box' experience.

[2016-03-22 15:02] dleeapho commented on #26
@muojp, thanks for surfacing it. To your suggestion of putting the something in the readme about this issue, since this is a kernel issue that is well known and it is not specific to dotnet I do not think we need to add this info to our readme.

[2016-03-23 01:33] muojp commented on #26
@dleeapho okay. It sounds reasonable for me. So, shall I simply close this issue?

[2016-03-24 19:11] #26 closed

[2016-03-31 16:33] dleeapho opened #29 "A new CLI LKG needs to flow to the Docker image"
dotnet.github.io is now pointing to 2133 of the CLI so the image should be changed to install that version.

[2016-03-31 21:34] dleeapho commented on #29
@naamunds, the getting started doc is reverting to the old build of CLI so we'll wait on our Dockerfile PR.

[2016-04-12 22:39] dleeapho commented on #11
dotnet new changes are done. We need CLI to be build on Debian and create a Debian tarball at a minimum.

[2016-04-15 13:36] fthamura commented on #11
I vote for alpine linux ...smaller

[2016-04-15 20:18] MichaelSimons commented on #11
@fthamura thanks for the input.  Alpine is on our radar - https://github.com/dotnet/dotnet-docker/issues/22

[2016-04-20 00:18] ctaggart commented on #22
This is one of the reasons I like golang, is that they have a [golang:alpine docker image](https://hub.docker.com/_/golang/) that is very small. There is now even a [rust-musl-builder](https://github.com/emk/rust-musl-builder) docker image. It would be nice if `dotnet --native` supported targeting `musl` too, so the binaries could be put on alpine images.

[2016-04-25 13:16] NinoFloris opened #32 "Update to newer dotnet cli as current version does not understand netcoreapp framework"
I understand dotnet core RC2 will be out in a couple of weeks but another more recent alpha to aid people in getting it running would not hurt as this version is horribly outdated.

[2016-04-25 14:18] MichaelSimons commented on #32
@NinoFloris you may consider utilizing the [preview image](https://hub.docker.com/r/microsoft/dotnet-preview/).  This image contains the latest CLI.  It is updated each time a new CLI build is available.

[2016-04-25 22:05] NinoFloris commented on #32
Alright, thanks

[2016-04-25 22:05] #32 closed

[2016-04-26 14:24] blitzd opened #33 "Image appears to pin CPU"
I was going through the .NET Core 1.0 walk-through on docker containers, and left this image running after having issued the commands (this is the full output of docker logs):

[code]

I came back after the weekend to find it had pinned the CPU at 100% full time since that command had been run. The dotnet process was Z, and couldn't be killed (SIGKILL/SIGTERM). I had to reboot the actual host to r

[2016-04-26 14:29] MichaelSimons commented on #33
@blitzd,  can you provide the `docker --version` and the `lsb-release -a` from your host?  Can you also provide the `dotnet --info` from the container?

[2016-04-26 14:38] blitzd commented on #33
@MichaelSimons

[code]

[code]

As for the --info, I got this:

[code]

It never returned from that, and then I got pinned at 100% again. Any suggestions for how to kill this without performing another reboot?

[2016-04-26 14:50] MichaelSimons commented on #33
@blitzd Is your host by change an Azure VM?  I am wondering if by you are encountering the same issue described in https://github.com/dotnet/cli/issues/2644#issuecomment-213632460.  Have you also tried using a newer dotnet version?  For example have you tried the [microsoft/dotnet-preview](https://hub.docker.com/r/microsoft/dotnet-preview/) image?

Regarding killing the container, did you try `doc

[2016-04-26 15:22] blitzd commented on #33
The host is on VMWare. I haven't tried any newer dotnet version - as I said I was just going through the walk-through, and assumed that ```:latest``` would be the newest image. ```rm -fv``` (or any other similar commands, just hang.

[2016-04-26 16:33] MichaelSimons commented on #33
@blitzd, what kernel version is your host using?

[2016-04-26 16:37] blitzd commented on #33
@MichaelSimons

```Linux webapps 4.2.0-27-generic #32-Ubuntu SMP Fri Jan 22 04:49:08 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux```

[2016-04-26 16:44] MichaelSimons commented on #33
@blitzd - You may have hit https://github.com/docker/docker/issues/18180 which is a docker issue.  The [solution](https://github.com/docker/docker/issues/18180#issuecomment-193708192) on Ubuntu 15.10 is to Upgrade kernel to 4.2.0-30.35 or later.

[2016-04-26 17:06] blitzd commented on #33
@MichaelSimons Yes that looks to have been it, 30.35 update resolved the issue. Thanks for your help!

[2016-04-26 17:06] #33 closed

[2016-05-08 17:51] girishgouda opened #34 "Last layer "GUID" does not have a base layer reference"
I am trying to create a custom docker image using the dockerfile as shown

FROM microsoft/dotnet:0.0.1-alpha-onbuild

RUN mkdir -p /dotnetapp
WORKDIR /dotnetapp

ENTRYPOINT ["dotnet", "run"]

ONBUILD COPY . /dotnetapp
ONBUILD RUN dotnet restore

i get the error **Last layer "91f7f9444ee1305921aa584bb4806c40bcece5c618f83ac383e105b23bdb6aad" does not have a base layer reference**

I am trying to bui

[2016-05-08 19:08] girishgouda opened #35 "No samples using the windowsservercore as the base image"
Hi
Provide a image with the OS(windowsservercore or nano) and dotnetcli (dotnet new/build/restore) installed in the image . These can be used to create the custom images for asp.net core samples
Thanks

[2016-05-12 21:42] MichaelSimons commented on #11
The preview1/rc2 images are based on Debian - https://github.com/dotnet/dotnet-docker/pull/36

[2016-05-12 21:42] #11 closed

[2016-05-12 21:45] MichaelSimons commented on #16
https://github.com/dotnet/dotnet-docker/pull/36 added core-deps and core images.  core-deps image only contains the .NET Core dependencies necessary to run a standalone app on.  The core image only contains the .NET runtime which is necessary to run a standard app on.

[2016-05-12 21:45] #16 closed

[2016-05-12 21:48] MichaelSimons commented on #14
I added the appropriate repository links as part of https://github.com/dotnet/dotnet-docker/pull/36.

[2016-05-12 21:48] #14 closed

[2016-05-12 21:51] dleeapho commented on #18
Closing since https://github.com/dotnet/dotnet-docker/pull/36 is merged.

[2016-05-12 21:51] #18 closed

[2016-05-12 21:52] #29 closed

[2016-05-12 21:53] #20 closed

[2016-05-12 21:55] MichaelSimons commented on #35
@girishgouda - yes this is something on our radar and are working on it.

[2016-05-12 22:00] MichaelSimons commented on #34
This is a result of not having a [manifest](https://github.com/docker/distribution/blob/master/docs/spec/manifest-v2-2.md) defined.  When on Windows Server Core and Nano Server, docker will try to pull the Linux images which are invalid on Windows platforms.  It seems like docker should have a better story here though - not everyone is going to support all platforms.

[2016-05-15 03:31] erindru opened #38 "Cannot run "Hello World" example from main website"
Hello,

I am trying to get started with .NET Core and though the Docker container would be great for providing me a consistent environment.

However, upon following the basic example described at https://dotnet.github.io/getting-started/#/docker , I get the following:

[code]

The main issue being:

[code]
How can I resolve this?

Thanks,
Erin

[2016-05-16 08:35] janvorli commented on #38
@piotrpMSFT - this looks like the same issue I was hitting, only that this time, it is with the docker image and when using the way recommended in the Getting started with .NET guide ( https://dotnet.github.io/getting-started/#/docker)

@erindru could you please try to do the following?
`dotnet restore --source "https://dotnet.myget.org/F/dotnet-core"`
That helped me when I was hitting the same is

[2016-05-16 11:03] xied75 commented on #38
Any thing to do with the releasing of RC2?

[2016-05-16 13:32] MichaelSimons commented on #38
This is a point in time issue.  Please refer to the [CLI known Issues](https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/known-issues.md#resolving-the-standard-library-packages).  To summarize, for now you need to specify a custom NuGet.config until the RC2 packages are uploaded to nuget.org.

[2016-05-16 16:36] MichaelSimons commented on #38
@erindru - the steps you tried before should work now.  The workaround I previously mentioned is no longer needed.  The rc2 packages have been uploaded to nuget.org.

[2016-05-16 20:43] #38 closed

[2016-05-18 01:51] divinebovine opened #39 "Did not find a suitable dotnet SDK at '/usr/share/dotnet'."
I'm trying to build a new docker image using microsoft/dotnet:1.0.0-rc2-core and I get an error on the following line in my docker file:

`RUN dotnet restore`

Error message:

[2016-05-19 13:51] MichaelSimons commented on #39
@divinebovine The `microsoft/dotnet:1.0.0-rc2-core` image only contains .NET Core (the runtime and libraries).  It is intended to be used to publish a [portable application](http://dotnet.github.io/docs/core-concepts/app-types.html) to.  If you want to develop (restore, build, run, test, etc) applications, you will need to use the microsoft/dotnet:1.0.0-preview1 image as this contains the .NET Cor

[2016-05-19 18:01] divinebovine commented on #39
@MichaelSimons Thanks, I totally missed that distinction.

[2016-05-19 18:01] #39 closed

[2016-05-23 20:36] Adribb opened #41 "Start aspnet rc2 with docker container on localhost:5000 not working"
Hey,
i try to start a web Application aspnet rc2 with docker container, i write in my DockerfIle
`FROM microsoft/dotnet:onbuild`

and i run the following commands :
[code]
The docker container work perfectly and i see :
Project dotnetapp (.NETCoreApp,Version=v1.0) will be compiled because expected outputs are missing
Compiling dotnetapp for .NETCoreApp,Version=v1.0
[code]

But i try to acces on ht

[2016-05-23 21:27] MichaelSimons commented on #41
@Adribb - I believe the problem is that your application is listening on `http://localhost`.  I think the docker port forwarding functionality defaults to `0.0.0.0`.  This means the `http://localhost:5000` request you are making is actually coming in as `http://0.0.0.0:5000` to your container.  To fix this you can call `.UseUrls("http://0.0.0.0:XXX")` within your Startup Main method on the WebHost

[2016-05-24 07:38] Adribb commented on #41
Your solution works perfectly
Thank you !

[2016-05-24 07:39] #41 closed

[2016-05-26 19:25] MichaelSimons opened #42 "Remove workaround for https://github.com/docker/docker/issues/20818"
The workaround that was added for docker/docker#20818 should be removed. The fix for this issue was released with Docker 1.11.0.

[2016-05-26 19:28] MichaelSimons opened #43 "Dockerfile should do checksum verification on CLI files"
Dockerfile should do a checksum verification on the CLI files downloaded.

Related https://github.com/dotnet/dotnet-docker-preview/issues/10

[2016-05-26 19:31] MichaelSimons commented on #43
This is [part of the guidelines](https://github.com/docker-library/official-images#image-build) to follow for making official images.

The checksum hashed for the CLI files are documented [here](https://www.microsoft.com/net/download).

[2016-05-27 23:33] s-tarasov opened #45 "Any plans about mono-based ASP.NET Core image?"

[2016-06-01 15:20] aligin opened #46 "error NU1001: The dependency Libuv >= 1.9.0-rc2-20901 could not be resolved"
Hello. I have a problem on docker run. I'm receiving an error

[code]
when doing dotnet run

Dockerfile

[code]

parts of the project.json

[code]

It's falling down in at "Microsoft.AspNetCore.Server.Kestrel": "1.0.0-rc2-final" string.

Full dotnet run command output

[code]

[2016-06-01 22:28] MichaelSimons commented on #46
@aligin, You don't by chance have an older `microsoft/dotnet` image cached on your machine?  I just want to rule out the obvious :smiley:

I ran the `microsoft/dotnet:latest` image, did a `dotnet new`, modified the generated `project.json` to have your dependencies and frameworks.  I had to remove the `Monq.IdentityServer4.EntityFrameworkCore.Users` reference.  I was then able to successfully run

[2016-06-01 22:48] aligin commented on #46
@MichaelSimons You are lifesaver. After you've noticed about the project.lock.json I realized that the problem in my deploying process. In the Dockerfile I copy project.json to docker dir, then make dotnat restore, so the project.lock.json is generated in docker container and then I copy my working dir entirely with project.lock.json generated from VisualStudio, so the project.lock.json is overwri

[2016-06-01 22:52] #46 closed

[2016-06-02 09:33] paulvanbladel opened #47 "No way to get npm/nodejs installed on the microsoft/dotnet:1.0.0-preview1 image"
Previous images I used (the dnx based stuff), didn't include npm nor node but with following tweaks it could be included. (aspnet needs npm these days)

[code]

This doesn't work any longer with microsoft/dotnet:1.0.0-preview1
Can you please point out what's the easiest way to get npm/nodejs up and running in an image meant for apsnet core clr usage?

thx.
paul.

[2016-06-02 09:48] paulvanbladel commented on #47
Feels  like it's related to:
https://github.com/docker/docker/issues/23138

[2016-06-02 09:50] paulvanbladel commented on #47
Simply doing apt-get update gives already trouble.

[2016-06-02 12:20] divinebovine commented on #47
Node 5.x is no longer available, you can use 6.x now. See https://nodejs.org/en/download/package-manager/#debian-and-ubuntu-based-linux-distributions

Also, if you want to use npm you'll need to apt-get install that too now.

[2016-06-02 13:35] MichaelSimons opened #48 "llvm repo is down which prevents microsoft/dotnet image from building."
The llvm repo was taken down unexpectedly and there is no immediate signs of it coming back soon.  The microsoft/dotnet repo uses this to get the liblldb-3.6 package.  This package is only used if you try to use the sos plugin for lldb.  It is not a critical dependency and has been argued that it should be an optional dependency.  As a result the Dockerfile is failing to build.  Additionally if yo

[2016-06-02 13:46] paulvanbladel commented on #47
@divinebovine thanks for the prompt reply but
can you  please try following sequence:

from a (linux) host:
sudo docker run --rm -it microsoft/dotnet:1.0.0-preview1

in the container: apt-get update

[2016-06-02 14:00] MichaelSimons commented on #47
@paulvanbladel, sorry for the issues you are encountering.  The apt-get update issue is indeed related to the llvm feed being down.  #49 should address this.  In the meantime, you should be able to ignore the apt-get update issue from the broken feed.

[code]

Alternatively you could remove it all together.

[2016-06-02 14:05] MichaelSimons commented on #48
https://github.com/dotnet/cli/issues/3088 discusses making liblldb optional.

[2016-06-02 14:12] paulvanbladel commented on #47
Thanks @MichaelSimons .
Hi snomis (right?), we met in an other live already i think :)
Not sure how to ignore the fact that apt-get update doesn't work?
I'm trying to create a container which should run an mvc app which needs both npm and nodejs.
When I add in the Dockerfile
RUN apt-get install -y npm
it fails because it needs a previous apt-get update, which stops the container creation process.

[2016-06-02 14:46] MichaelSimons commented on #47
@paulvanbladel - yes we did work together in the past!  Nice to see you here.

You could ignore apt-get update if all you were doing is just installing npm.

[code]

That really won't do you any good since you need Node.  The Node installer does an apt-get update, therefore if you want a workaround, you would have to remove the llvm package source.

[code]

...or as you mention, wait for the menti

[2016-06-02 17:47] paulvanbladel commented on #47
Thanks Michael.

[2016-06-02 18:49] cipriansorlea opened #51 "dotnet restore hangs out when building a Dockerfile targeting a DigitalOcean docker machine"
I have a docker machine, created on DigitalOcean, running Docker v1.11.2.

On this machine, I am trying to build a docker image.
The Dockerfile is extremely simple:
[code]

Based on the onbuils hooks, the dotnet restore command is executed.
Even though the project.json file is almost empty, and therefore the command doesn't have anything to restore, the build of the Docker file hangs.

Here is the

[2016-06-02 20:25] MichaelSimons commented on #51
@cipriansorlea, Please excuse me as I am not familiar with DigitalOcean.  Can you state what distro and kernel version your docker host is on?  I just want to make sure you are not running into https://github.com/docker/docker/issues/18180

[2016-06-02 20:44] cipriansorlea commented on #51
The distro is ubuntu-15-10-x64.

[2016-06-02 20:45] MichaelSimons commented on #51
@cipriansorlea, what is the kernel version?

[2016-06-02 20:46] cipriansorlea commented on #51
I edited the previous comment, and added the docker info, including the Kernel version. Hope that helps.

[2016-06-02 21:06] MichaelSimons commented on #51
I suspect you are hitting the issue I mentioned before - docker/docker#18180.  Per that issue,
Ubuntu 15.10: Upgrade kernel to 4.2.0-30.35 or later

Another way to help verify this is to check the distro and kernel version you are using locally and see if it is one of the configurations affected (https://github.com/docker/docker/issues/18180#issuecomment-193708192)

[2016-06-03 03:18] #48 closed

[2016-06-03 05:44] paulvanbladel commented on #47
Removing the package source did the job.
FYI: I'm applying it here: https://github.com/paulvanbladel/aurelia-identityserver-aspnetcore/blob/master/BasicSetup/src/AureliaAspNetApp/Dockerfile
Many thanks Michael for the great support. Very much appreciated.
Cheers
paul.

[2016-06-03 05:44] #47 closed

[2016-06-03 14:12] MichaelSimons opened #52 "Update required packages to be in sync with CLI"
See dotnet/cli#3088. The clang-3.5 dependency has been removed..

[2016-06-07 15:15] TheRubble commented on #26
I'm having a the same issue on Ubuntu 14.04, if I use the image provided on docker hub.
microsoft/dotnet:1.0.0-preview1, when ever I use dotnet new inside a container it hangs.

Linux ubuntu 4.2.0-27-generic #32~14.04.1-Ubuntu SMP Fri Jan 22 15:32:26 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Any ideas?

[2016-06-07 15:22] MichaelSimons commented on #26
@TheRubble - What version of Docker are you using?

[2016-06-07 15:32] TheRubble commented on #26
@MichaelSimons Hi I'm using Docker version 1.11.2, build b9f10c9

[2016-06-07 15:39] tugberkugurlu commented on #26
@therubble see this: https://github.com/docker/docker/issues/22357#issuecomment-222827798 I had the same issue and that solved my problem or I should probably say "worked around my problem".

[2016-06-09 14:21] MichaelSimons commented on #51
@cipriansorlea - any update?  Did you try upgrading your kernel?  If you were able to resolve the issue feel free to close this issue. Thanks

[2016-06-09 14:25] cipriansorlea commented on #51
@MichaelSimons I didn't had a chance to do the upgrade on the Digital Ocean machine, but using Fedora as a base image, I was able to get the machine running with an ASP.NET Core application. I will try again in future releases of Docker, to see if the issue is fixed.

Thanks for your support!

[2016-06-09 14:25] #51 closed

[2016-06-11 23:53] Zoltu opened #57 "Create some pre-seeded docker images."
I would love to see a few docker images based on `microsoft/dotnet` that had their NuGet package cache preseeded with things like ASPNET Core, Entity Framework Core, etc.  Initially, just one pre-seeded docker image with all of the Microsoft stuff would be a good base, though it would be neat if there were a few variations (maybe one with ASPNET Core but not EntityFramework Core).

Not only will t

[2016-06-12 09:05] Zoltu commented on #57
In case anyone wants to use it, I went ahead and did this for myself:
GitHub: https://github.com/Zoltu/docker-aspnetcore
DockerHub: https://hub.docker.com/r/zoltu/aspnetcore/

Feel free to submit PRs with additional libraries you want me to add, I don't mind the size of the image (within reason) because it makes all of my other docker images build *way* faster (few seconds instead of many minutes)

[2016-06-13 20:38] MichaelSimons commented on #57
There is an [offline feature](https://github.com/dotnet/cli/pull/3485) being added to CLI which will help .NET Core Applications.  With this feature, the Dockerfile will need to be updated in order to trigger the cache to be built which happens on first use.

One potential problem that may arise the more packages that are added to the cache for ASPNET, Entity Framework, etc scenarios is that it is

[2016-06-13 23:50] Zoltu commented on #57
If I could do something like this in my Dockerfile, I think it would fully alleviate the need for this.

[code]

Because the "seed" operations are before copying any files into the image, docker will cache the results of those lines so it won't require running more than once per docker host.

[2016-06-14 14:10] MichaelSimons opened #58 "Dockerfile should trigger the building of the local package cache."
With the introduction of the [offline feature](https://github.com/dotnet/cli/pull/3485), the dotnet CLI builds a local package cache on first use.  The dotnet Dockerfile should trigger this to happen.  This takes some time therefore it will be a savings for all users of the image.  Additionally having the package cache in the base image will save disc space for scenarios in which base image is use

[2016-06-15 22:58] MichaelSimons commented on #58
Related https://github.com/dotnet/dotnet-docker-preview/issues/20

[2016-06-16 12:41] vassilvk commented on #45
The default Docker images as of RC1 targeted `dnx451` and were mono-based. Many people developed around those images mainly because it will take a long time for libraries out there to catch up and be ported to CoreCLR.

I second @s-tarasov's question -- I think it is important to know what the road-map looks like as it relates to `dnx451` support on Linux.

[2016-06-16 12:58] vassilvk opened #60 "NuGet push"
This is more of a question/discussion.

In a CI scenario where this Docker image is used to build, test and deploy a NuGet package, how would one go about the third step -- deploy to a NuGet repository?

In the previous Mono-based Docker image ([ASP.NET RC1](https://hub.docker.com/r/microsoft/aspnet/)) we had `nuget cli` included in the image, so one could do `nuget push`.

With this new image, I

[2016-06-17 09:02] marwooj commented on #26
Mowing to overlay fixed my issue.

[2016-06-20 04:06] bsell93 opened #61 "Seg Fault running dotnet restore Linux"
I have run into an issue where `dotnet restore` is experiencing a seg fault. I am running it on a shared runner that gitlab provides. I found an open [issue on dotnet/cli](https://github.com/dotnet/cli/issues/3185) where someone describes a fix. Although I don't have direct access to change the version of `libcurl3` described in the previously linked issue. I believe the runner is a similar Linux-

[2016-06-21 20:16] bbrowning commented on #61
I'm also seeing a segmentation fault when running `dotnet restore` inside the docker image `microsoft/dotnet:latest` for a simple hello_world project created via `dotnet new`.

[2016-06-21 20:25] MichaelSimons commented on #61
Can you share what docker version you are using as well as what OS/version?

[2016-06-21 20:28] bbrowning commented on #61
My host machine is Fedora 24 running Docker version 1.10.3, build ee81b72/1.10.3. The Docker image I'm running the dotnet commands inside of is:
[code]

[2016-06-21 22:52] pcgeek86 opened #64 "Interactive command prompt inside container"
I can't get an interactive command prompt. I tried doing this:

[code]

This just exited right away.

[code]

This one just hung, until I terminated it with CTLR + C.

Any ideas?

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://trevorsullivan.net
https://twitter.com/pcgeek86

[2016-06-21 23:03] naamunds commented on #64
@pcgeek86 Try adding "-it" to your "docker run" command: `docker run -it --rm app:1 cmd`.  See the "Foreground" section of https://docs.docker.com/v1.11/engine/reference/run/ for more info.

By the way, you might not need to (or want to) specify a command ("cmd" or "powershell" in your examples). Dockerfiles will often include a CMD or ENTRYPOINT, and in that case, specifying it on the command lin

[2016-06-22 20:21] bsell93 commented on #61
Here is my system info as well @MichaelSimons:
dotnet --info --version --verbose
.NET Command Line Tools (1.0.0-preview1-002702)

Product Information:
 Version:     1.0.0-preview1-002702
 Commit Sha:  6cde21225e

Runtime Environment:
 OS Name:     debian
 OS Version:  8
 OS Platform: Linux
 RID:         debian.8-x64

[2016-06-22 20:39] MichaelSimons commented on #61
@bsell93, could you please share what your Docker host OS/version is along with what version of Docker you are using?

Thanks

[2016-06-22 22:17] bsell93 commented on #61
@MichaelSimons I am running the Dotnet container on a ci machine that is hosted by GitLab so I am unable to access it directly, and when I attempted to use the `docker` command it was not found. But I did get the system info with the following output:

[code]

[2016-06-23 04:10] MichaelSimons commented on #61
@bsell93, @bbrowning - would you be willing to try the latest builds?  You can easily try these out via https://hub.docker.com/r/microsoft/dotnet-preview/.

[2016-06-23 05:58] bsell93 commented on #61
@MichaelSimons I just tried using `microsoft/dotnet-preview` docker image and it still experienced a seg fault, and it seemed to fail earlier than the other docker image.

Full readout from CI:
[code]

[2016-06-23 17:43] bbrowning commented on #61
@MichaelSimons The latest dotnet-preview docker image fixed the segfault issue for me. I can now run 'dotnet restore' and 'dotnet run' on a simple hello world project without any errors. Thanks!

[2016-06-24 15:22] MichaelSimons commented on #52
This issue was resolved per #55

[2016-06-24 15:22] #52 closed

[2016-06-24 15:22] MichaelSimons commented on #58
This issues was resolved with #65.

[2016-06-24 15:22] #58 closed

[2016-06-24 15:34] MichaelSimons commented on #61
This seems related to https://github.com/dotnet/cli/issues/3681.

[2016-06-24 16:35] MichaelSimons commented on #43
CLI request to generate hashes - https://github.com/dotnet/cli/issues/3693

[2016-06-24 16:47] bsell93 commented on #61
@MichaelSimons is it possible to go to a specific dotnet docker version because it was working roughly 13 days ago?

[2016-06-24 19:57] MichaelSimons commented on #61
@bsell93, Docker supports pulling an image via its sha - `docker pull  microsoft/dotnet@sha256:5235a3980a8bfff70ad7a3b2ea5dfdf5225f733d021cbf1eb3bd4151ddded2c6'.  It is my understanding that once an image is uploaded to a registry (e.g. Docker Hub) it is always available to download via it's sha.  Images are never deleted from the registry even if a new one is uploaded with the same tag.  The prob

[2016-06-24 21:06] williamr-ps opened #71 "1.0.0-preview2-sdk Appears To Come With Wrong Version of Microsoft.NETCore.App"

[2016-06-24 21:11] #71 closed

[2016-06-24 21:11] StrangeWill opened #72 "1.0.0-preview2-sdk Appears To Come With Wrong Version of Microsoft.NETCore.App"
This is a project developed on Visual Studio 2015 on Windows and pulled into a container, when I run `dotnet new` it wants to use Microsoft.NETCore.App 1.0.0 that came with the container, but Visual Studio wants to use 1.0.0-rc2-3002702. Why the discrepancy?

Unfortunately it appears 1.0.0 takes precedence over 1.0.0-rc2-3002702 and the rc2 version will not be pulled during a `dotnet restore`.

[2016-06-24 23:39] naamunds commented on #72
This issue is due to a version mismatch between the .NET Core installation on your Windows machine and the .NET Core installation on your Docker container. There are a couple ways you could work around this:

- Use a Docker container with the older version of .NET.  I believe that the microsoft/dotnet:1.0.0-preview1 image would work.
- Upgrade your app to use the newer version of .NET which is ins

[2016-06-25 01:54] StrangeWill commented on #72
Yeah, now I feel dumb, should have noticed that Visual Studio uses _preview1_ and that preview2 != RC2.

All seems good.

[2016-06-25 01:54] #72 closed

[2016-06-27 13:52] bsell93 commented on #61
@MichaelSimons I tried pulling a specific image found in the [docker image details](https://hub.docker.com/r/microsoft/dotnet/builds/bjtcvadpgz4bvr8frpwkabh/), but I was unable to overcome the segmentation fault. I am certain it was working on the specific images that I tested, so there most be some other issue. I remember seeing an issue with libcurl3 updating, and others had to downgrade. Would

[2016-06-27 14:18] MichaelSimons commented on #64
@pcgeek86, Did you try out the suggestion @naamunds provided?  If the suggestion resolved your issue feel free to close this issue.  If not let us know so that we can try to provide additional help.

-Thanks

[2016-06-27 14:30] MichaelSimons commented on #61
@bsell93, Downgrading libcurl3 was mentioned in https://github.com/dotnet/cli/issues/3185 by one user.  Did your host machine change in any way (e.g. did the kernel get upgraded)?

[2016-06-27 15:10] MichaelSimons opened #73 "Update Dockerfile to utilize Debian package"
Once dotnet/cli#2565 is fixed, the Dockerfile should be updated to utilize the CLI Debian package instead of extracting the tarball and manually installing the dependencies.

[2016-06-27 15:16] MichaelSimons opened #74 "Remove workaround logic to initialize package cache"
Once ~~https://github.com/dotnet/cli/issues/3692~~ https://github.com/dotnet/cli/issues/4919 is fixed, the workaround logic to initialize the package cache should be removed and replaced with the equivalent dotnet command.

[2016-06-27 15:22] bsell93 commented on #61
@MichaelSimons as far as I know it did not get changed.

[2016-06-27 16:27] MichaelSimons opened #75 "Remove the reverse forwarders workaround that was added to the Nano Server images"
In Windows Server 2016 TP5 there is an issue with the reverse forwarders feature.  To workaround this, the dotnet images for nano server copy the forwarders assemblies to the Shared Framework folder.  This workaround should be removed once the underlying issue is resolved in Windows Server.

[2016-06-27 17:41] erichexter commented on #35
any news on this? @MichaelSimons

[2016-06-27 21:29] pcgeek86 commented on #64
@MichaelSimons @naamunds Sorry, I'll give this a shot soon. Been super busy lately. Thanks for the help!! I'll close and re-open if I can't get it working.

[2016-06-27 21:29] #64 closed

[2016-06-28 14:05] MichaelSimons commented on #35
@girishgouda, @erichexter, As part of the [.NET Core 1.0 release](https://blogs.msdn.microsoft.com/dotnet/2016/06/27/announcing-net-core-1-0/) that happened yesterday, a preview of the [docker images for windowsservercore and nanoserver](https://hub.docker.com/r/microsoft/dotnet/) based on Windows Server 2016 Technical Preview 5 were also released.  Please check them out and let us know what you t

[2016-06-28 14:06] MichaelSimons commented on #35
Closing issue as windowsservercore and nanoserver have now been released.  If issues are encountered with these images, please open a new issue.

[2016-06-28 14:06] #35 closed

[2016-06-28 14:12] janvorli commented on #61
It is very likely that the issue is fixed by dotnet/coreclr#6027

[2016-06-28 17:34] MichaelSimons commented on #60
NuGet client has been ported to [.NET Core](https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core).  The dotnet CLI defers to it when performing the NuGet related commands it exposes such as dotnet restore.  There is a [NuGet.CommandLine.XPlat](https://github.com/NuGet/NuGet.Client/tree/dev/src/NuGet.Core/NuGet.CommandLine.XPlat) assembly which can be used to perform a [push](https://githu

[2016-06-28 17:45] styfle opened #77 "Missing 1.0.0-sdk tag"
It looks like there is no `1.0.0-sdk` tag.

[code]

[2016-06-28 18:01] MichaelSimons commented on #77
@styfle, Yes there is no `1.0.0-sdk` tag.  While .NET Core Runtime and Libraries are at V1.0, the tooling such as the .NET Core command line tools, Visual Studio and Visual Studio Code that enable you to work with .NET Core projects are in preview ([more](https://blogs.msdn.microsoft.com/dotnet/2016/05/06/net-core-rc2-improvements-schedule-and-roadmap/)).  If you want to try out the latest sdk, pl

[2016-06-28 18:10] styfle commented on #77
I see. I thought the CLI was packaged with runtime and versioned the same. For example with node.js, both the runtime ([node](https://github.com/nodejs/node)) and the libraries ([npm](https://github.com/npm/npm)) are part of the container and released at the same time even though they are technically two products with two different versions.

I was hoping to do development in a container so I coul

[2016-06-28 18:19] MichaelSimons commented on #77
The SDK image contains both the CLI as well as the runtime so you should be able to use it for both development and production.  It is substantially larger than just the runtime image.  The SDK image's version it associated with the CLI that is contains.

[2016-06-29 01:13] naamunds commented on #60
Another option is to use the existing dotnet.runtimeconfig.json, which has the same content as what you pasted above, by using the `runtimeconfig` argument.  For example: `dotnet exec --runtimeconfig /usr/share/dotnet/sdk/1.0.0-preview2-003121/dotnet.runtimeconfig.json /usr/share/dotnet/sdk/1.0.0-preview2-003121/NuGet.CommandLine.XPlat.dll push [...]`

[2016-06-29 03:04] vassilvk commented on #60
Thanks @MichaelSimons, @naamunds.

[2016-06-29 03:04] #60 closed

[2016-06-29 22:23] kalahari opened #78 "dotnet restore fails for non-root user on 1.0.0-preview2-sdk"
If you attempt to run `dotnet restore` (or `dotnet new`) as a non-root user, the NuGet cache population fails because `/tmp/NuGetScratch` is owned by root. Upstream bug is here: https://github.com/NuGet/Home/issues/2793.

Removing `/tmp/NuGetScratch` resolves the issue.

[code]

[2016-06-29 22:37] kalahari commented on #78
I submitted #79 to remove the `/tmp/NuGetScratch` directory.

[2016-07-01 13:20] bsell93 commented on #61
That's great new @janvorli! I am curious as to how we can utilize this fix, or is it just a matter of waiting until everything gets updated?

[2016-07-01 15:37] MichaelSimons commented on #77
Closing as I believe the issue was clarified.  @styfle please reopen if you disagree.

[2016-07-01 15:37] #77 closed

[2016-07-01 16:29] MichaelSimons commented on #78
Does this same issue occur with the Windows Containers based images?

[2016-07-01 16:33] MichaelSimons commented on #78
For the repo scenario mentioned - it is unfortunate in a way that the NuGet cache is user specific.  The `microsoft/dotnet:1.0.0-preview2-sdk` Dockerfile explicitly triggered the NuGet cache to be built yet in this usage, it simply adds bloat to the image.

[2016-07-06 13:40] MichaelSimons commented on #78
Regarding Windows Containers, it looks as the the NuGetScratch directory gets created in the under the current user's folder `c:\users\xxx\appdata\local\temp\nugetscratch` therefore this is not a problem.

[2016-07-06 18:04] Lewiscowles1986 opened #81 "So is this at 1.0, or 1.0 preview?"
Looks like in all the hype either version numbers were not updated or version strings were selected that are confusing. If this is a release, why not use semantic versioning and update the patch or minor release version? using names like preview sounds a lot like a release candidate by any other name.

[2016-07-06 18:40] MichaelSimons commented on #81
@Lewiscowles1986, I apologize for the confusion.  I copied a snippet from the [.NET Core announement](https://blogs.msdn.microsoft.com/dotnet/2016/06/27/announcing-net-core-1-0/).

## Distributions
There are two main distributions for .NET Core:

.NET Core – Includes the .NET Core runtime and framework. The current version is “.NET Core 1.0”
.NET Core SDK – Includes .NET Core and the .NET Core Too

[2016-07-06 18:44] Lewiscowles1986 commented on #81
Thanks. I feel like I was reading all the wrong things, winding myself up...

[2016-07-06 18:44] #81 closed

[2016-07-07 13:29] bsell93 commented on #61
Anymore movement on this?

[2016-07-07 16:22] jdwilly2001 opened #82 "docker logs not capturing Kestrel output"
I am trying to configure docker to capture the default ConsoleLogger from Kestrel. When i run the process with -d, I do not see any log messages, i see the standard 'startup' message:

[code]

But when requests are made, there are no messages like I get when running the process without docker or with -it

UPDATE: Log messages from ConsoleLogger do not show messages even when running from
docker ru

[2016-07-08 15:13] janvorli commented on #61
@bsell93 I am not sure how the latest changes in coreclr are propagated to cli and dotnet-docker. @gkhanna79, is the cli bound to the coreclr release 1.0.0 or is it picking the latest changes?

[2016-07-08 17:17] gkhanna79 commented on #61
@piotrpMSFT Has CLI started to consume master branch of core-setup?

[2016-07-10 21:01] chrisumbel commented on #61
This is affecting me in wercker pipelines. I've tried a few tags, but mainly 1.0.0-preview2-sdk. The pipelines run fine locally on Linux ubuntu-xenial 4.4.0-28-generic, but fail in wercker.

[2016-07-12 17:07] Sebas- opened #83 "How to determine why a container segfaults?"
I'm running a ASP.NET Core application in a docker container, and once in a while it segfaults (and because of restart always, restarts).

Since i'm quite interested to know why it segfaults, because it looks random, I want to know if there is a way to capture the core dump (if any)? No stack trace so it must be outside the managed code is my guess.

docker logs record only this:

`info: Microsoft

[2016-07-12 17:34] janvorli commented on #83
See https://github.com/docker/docker/issues/11740 for a discussion on getting core dumps in docker containers.

[2016-07-12 17:36] Sebas- commented on #83
Thanks!

[2016-07-12 20:02] naamunds commented on #78
This was fixed by https://github.com/dotnet/dotnet-docker/pull/79.

[2016-07-12 20:02] #78 closed

[2016-07-12 20:16] naamunds opened #84 "Reevalute workaround for non-root user issue with NuGetScratch"
As a workaround for https://github.com/dotnet/dotnet-docker/issues/78, a fix was submitted which removes the /tmp/NuGetScratch directory.  The root cause of this issue is https://github.com/NuGet/Home/issues/2793, so when that issue is fixed, the workaround here should be reevaluated.

Depending on the fix made in NuGet, we may want to remove the workaround in this repo.  Alternatively, we may wan

[2016-07-12 21:13] EolAncalimon commented on #61
any idea if theres a docker image with the fix in it?

or a workaround

[2016-07-13 01:57] naamunds commented on #82
@jdwilly2001 I was unable to repro this.  For my web app, I see the ASP.NET logging by default when doing `docker logs <container>`.

Have you verified that the web requests are successfully going through to your application when it's running in the Docker container?  For example, if you go to `http://localhost::<host_port>` in a web browser on the host machine (where `host_port` is the host machi

[2016-07-13 14:47] MichaelSimons commented on #61
@EolAncalimon, There isn't a docker image with the fix because there isn't a CLI with the fix.

@piotrpMSFT, @blackdwarf - when is there going to be a CLI that contains the updated dependencies to address this issue?

[2016-07-13 23:29] dstpierre commented on #61
we wanted to give dotnet a test, I'm on Arch and docker version is:

[code]

Just did a `docker -it microsoft/dotnet:latest` and running `dotnet new` returns the following:

[code]

Anything I can do, other than wait for the CLI to have a fix [if I understand it correctly]? Does the preview1 image would have this problem as well?

Thanks

[2016-07-14 05:23] piotrpMSFT commented on #61
We are working on a plan for how we might provide a nightly build with a fix in place. Until then, you should be able to do a local build of CLI that pulls in the right version of dependencies to get this unblocked. @gkhanna79 do we know which packages need to be updated, and to which versions?

[2016-07-14 13:48] dstpierre commented on #61
@piotrpMSFT thanks for your reply, unfortunately I was not successful building the source.

I built it from a Ubuntu 16.04 docker image. I opened an issue on the cli project, although I'm not exactly clear if it was the right place to post that. Just trying to get started.

This is the error I'm getting:

[code]

I picked the 1.0.0 branch of the cli. Any idea, is there anyway to have it working at

[2016-07-14 16:57] markrendle commented on #22
I know one of the things that's been blocking this is the absence of libttng on Alpine, but guess what? [It's available now!](http://lttng.org/download/#alpine)

[2016-07-14 17:11] piotrpMSFT commented on #61
This is strange. The `rel/1.0.0` branch is [green](https://github.com/dotnet/cli) on Ubuntu 14.04 and 16.04, so if you're running a stock ./build.sh then I don't see why you would have a different behavior. Can you tell us more about the machine configuration that is exhibiting the failure?

[2016-07-14 18:52] piotrpMSFT commented on #61
Nevermind, I see the issue now. @dstpierre we aren't seeing this on CLI CI because we build on pre-4.6.2 kernels. To build a workaround CLI we'd need a base OS with pre-4.6.2 which would use the affected preview2 CLI in order to build a CLI with an updated CoreCLR dependency.

Once @gkhanna79 shares the packages which need to be updated I can create a branch that includes the fix. As I mentioned e

[2016-07-16 09:19] JimbeanZN commented on #78
This is also failing on Windows 10 (64-bit). I have removed the NuGetScratch directory but with no luck. Any other ideas on how to get this working?

[2016-07-18 07:44] timotei commented on #34
Is this a limitation which is planned to be removed in the final release of Windows Containers?

[2016-07-18 12:50] OviWanKenoby commented on #51
I am seeing the same problem, but the kernel I have is not matching the ones listed as having problems

Docker Version
--------------

Client:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 21:47:50 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Buil

[2016-07-19 18:08] MichaelSimons commented on #51
@OviWanKenoby, Does `dotnet new` work or does that hang as well?

[2016-07-19 20:23] MichaelSimons commented on #83
@Sebas- were you able to verify the suggestion?  If that works and your question is answered, please feel free to close this issue.  If not, let us know so we can work with you to resolve your question.

Thanks

[2016-07-19 20:26] MichaelSimons commented on #82
@jdwilly2001, were you able to work through this issue?  If so, please feel free to close this issue.  If not, please provide the information @naamunds requested.

Thanks

[2016-07-19 20:28] jdwilly2001 commented on #82
So this was resolved. I attempted to run the application from / using dotnet run -p /app/MyApp.

However when the boilerplate application loads the appconfig.json, it is looking relative to the run directory.

using the WORKDIR directive in the docker file fixed the issue. I believe it was failing to load the configuration and thus the logging was not properly established.

[2016-07-19 20:28] #82 closed

[2016-07-19 21:04] Sebas- commented on #83
Hi Michael,

Since it happens randomly I have not yet had a segfault yet since I've restart with the suggestions in the docker thread.

Since my question here is answered, I will close it.

Thanks for the support.

[2016-07-19 21:04] #83 closed

[2016-07-19 22:24] MichaelSimons commented on #57
@Zoltu, Please log your request for a seed command within the [CLI repo](https://github.com/dotnet/cli).  This is where the command would need to be added.

[2016-07-21 15:09] MichaelSimons commented on #34
@timotei, Creating a Docker manifest is what will address this.  This contains metadata that docker will read in order to determine which image applies to each platform/architecture.  Additionally if docker doesn't find a matching image, it will then display a more friendly error message to the user.  We will add a manifest for the microsoft/dotnet images once it is fully flushed out.

[2016-07-21 17:36] brentarias opened #85 "Supported Linux Distros"
I know what Linux distros are supported by .Net Core because it is stated clearly on the .Net Core web site.  However, I need to know what Linux distros the *.Net Core docker image supports*.  I can't find that information in this repo, on the .Net Core site, or on dockerhub.

I'm new to Docker, so perhaps there is an obvious way to get my answer that I've missed.

Am I supposed to believe that a

[2016-07-21 18:32] MichaelSimons commented on #85
@brentarias - Each Docker image contains its own OS.  You can see this by walking the FROM image chain.  For example [microsoft/dotnet:latest](https://github.com/dotnet/dotnet-docker/blob/master/1.0.0-preview2/debian/Dockerfile) is based on [buildpack-deps:jessie-scm](https://github.com/docker-library/buildpack-deps/blob/master/jessie/scm/Dockerfile) which is based on [buildpack-deps:jessie-curl](

[2016-07-22 05:00] sauryadas opened #86 "Getting an error when doing a docker pull in windows container on ACS"
![image](https://cloud.githubusercontent.com/assets/15387759/17047048/76ec1f12-4f8e-11e6-81dd-ee4f036d3566.png)
@MichaelSimons  any idea ?

[2016-07-22 05:12] colemickens commented on #86
Guessing it's an Azure VM? What image did you deploy? Is it a relatively clean VM?

[2016-07-22 05:14] sauryadas commented on #86
Windows swarm cluster on ACS.

[2016-07-22 13:18] acastaner commented on #84
Just some extra feedback on this. Removing /tmp/NuGetScratch kind of works but if the systems uses different users to run dotnet apps then you'll run into the same issue: user one might re-create /tmp/NuGetScratch and own it, but then user 2 won't have access to it.

The workaround would be to have each user in a common group I guess but that kind of goes against the least privilege security polic

[2016-07-22 13:47] MichaelSimons commented on #86
@sauryadas - Is this issue specific to the microsoft/dotnet images?  Are you able to pull other images (e.g. debian:jessie)?

[2016-07-22 14:11] Sebas- commented on #83
@janvorli

I've closed this question, since I can now create core dumps, but since I now have a core dump, where should I ask a follow up question?

(the core dump seems somewhat useless since no debug symbols can be found)

Sebas

[2016-07-22 18:25] janvorli commented on #83
@Sebas- you can get symbols here: https://dotnet.myget.org/gallery/dotnet-core. You will need symbols for Microsoft.NETCore.Runtime.CoreCLR, Microsoft.NETCore.Jit and Microsoft.NETCore.DotNetHost. So something like runtime.ubuntu.14.04-x64.Microsoft.NETCore.Runtime.CoreCLR (not sure which Linux is used by the docker).
When you click on "more..." next to the version of the package on the right of i

[2016-07-25 11:49] Sebas- commented on #83
@janvorli

Thanks for the info. I will see if I can figure out what versions are included in the docker image (microsoft/dotnet:1.0.0-core is debian 8, here's an idea, publish also a docker container with the suffix -debug that adds a new layer with the corresponding symbol files :) ).

When I have a some spare time today/tomorrow I will give it a try.

Sebas

[2016-07-26 00:35] naamunds commented on #78
@JimbeanZN Sorry to hear that you're hitting this issue also.  Can you give more details about your repro environment?  Which Docker image are you using?  As what sort of user are you running `dotnet` commands when you see this issue?  Is the error output the same as that posted at the top of this issue?

[2016-07-26 14:57] MichaelSimons commented on #85
@brentarias - Did my last response answer your question?  If so, please feel free to close this issue.  If not, let us know what part isn't clear.

[2016-07-28 22:25] naamunds opened #88 "Use dotnet-install.ps1 in Windows Dockerfiles"
The Windows Server Dockerfiles should use [dotnet-install.ps1 from CLI](https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/obtain/dotnet-install.ps1) to install the CLI tools rather than directly containing the installation logic.  This would decouple the installation logic and also simplify the Dockerfiles.

This is currently blocked by https://github.com/dotnet/cli/issues/3113.

[2016-07-29 13:49] MichaelSimons commented on #85
@brentarias - Closing issue, feel free to re-open if there are additional questions.

[2016-07-29 13:49] #85 closed

[2016-07-29 13:51] MichaelSimons commented on #86
@sauryadas - Any update on this?  Can you answer my previous questions?

[2016-07-29 14:16] sauryadas commented on #86
@MichaelSimons the base image is windows server 2016 tp5 . I was able to pull Microsoft/iis

[2016-07-29 14:29] MichaelSimons commented on #86
@sauryadas, Can you clarify what you mean by the "base image is windows server 2016 tp5"?  Do you mean Windows Server 2016 TP5 is your Docker host environment?  I assume so since you successfully pulled the Microsoft/iis image.  If that is the case, then I believe the issue is that you are trying to pull the wrong microsoft/dotnet image.  From the screen shot you included it looks like you are usi

[2016-07-29 18:05] sauryadas commented on #86
@MichaelSimons oops .. i assumed this is all windows... i was able to run the various version of the images .. closing this now. thanks

[2016-07-29 18:05] #86 closed

[2016-07-29 18:10] MichaelSimons commented on #86
@sauryadas, FYI Docker is working a feature that will support multi-platform for a single tag.  This will allow you to pull microsoft/dotnet:latest and depending on the platform you are calling from, the appropriate image will get pulled.  In the meantime, we have to rely on separate tags.

[2016-08-02 20:53] sauryadas opened #90 "WinAPI error when deploying a simple app"
using the following sample and getting a Win API error

1.git clone  https://github.com/shraddhaagrawal/scratch
2.cd scratch/acs/HelloWorldApp
5. docker build -t mydemosnew:aspnetcorehelloworldnew .
6. docker run -d -p 80:5000 mydemosnew:aspnetcorehelloworldnew

![image](https://cloud.githubusercontent.com/assets/15387759/17344826/65942f2e-58b8-11e6-877e-cd8ae75a3757.png)

@shraddhaagrawal

[2016-08-02 21:13] MichaelSimons commented on #90
@sauryadas, what OS are you using in your Docker host environment?

[2016-08-02 21:30] sauryadas commented on #90
@MichaelSimons operatingsystem=Windows Server 2016 Datacenter Technic                                                                             al Preview 5

[2016-08-02 22:05] MichaelSimons commented on #90
@sauryadas, FYI - The Dockerfile from the repro doesn't look like it matches the output you included.  The Dockerfile indicates FROM microsoft/dotnet:latest.  The output indicates FROM microsoft/dotnet:windowsservercore.

Assuming the windowsservercore image is being used, have you tried running a standalone windowsservercore container?  `docker run -it --rm windowsservercore cmd`  I am seeing som

[2016-08-02 23:46] sauryadas commented on #90
@MichaelSimons i updated the Dockerfile to use the windowsservercore version.

and yes i get the same error while i try to run a standalone container

![image](https://cloud.githubusercontent.com/assets/15387759/17349182/a43d53aa-58d0-11e6-94af-286f0e1309ea.png)

[2016-08-03 14:31] MichaelSimons commented on #90
@sauryadas, sorry I don't have a suggestion that works on Windows Server 2016 TP5.  @PatrickLang, do you have any suggestions on how to workaround this problem?

[2016-08-03 15:59] MichaelSimons commented on #90
Linking to https://github.com/docker/docker/issues/25336

[2016-08-05 07:11] bleevo opened #91 "failed to register layer: layer does not exist"
Windows 10 Anniversary Update

Trying to use dotnet docker images with nanoserver none of them seem to work?

[code]

[code]

[2016-08-07 13:41] deployable opened #92 "Can't pull microsoft/dotnet:1.0.0-windowsservercore-core"
From SO question - http://stackoverflow.com/q/38813833/1318694

A docker pull for `microsoft/dotnet:1.0.0-windowsservercore-core` fails

    $ docker pull microsoft/dotnet:1.0.0-windowsservercore-core`.
    1.0.0-windowsservercore-core: Pulling from microsoft/dotnet
    1239394e5a8a: Downloading
    d90a2ac79ff2: Download complete
    cde3fa87b2c9: Download complete
    9f60be4f8205: Download comp

[2016-08-08 14:27] MichaelSimons commented on #90
@sauryadas, all of the microsoft/dotnet windowsservercore and nanoserver images have been rebuilt against the 10.0.14300.1000 base OS images.  You will need to update docker according to docker/docker#25336 in order to make use of these images.  Please let me know if you encounter any issues.

Closing issue.

[2016-08-08 14:27] #90 closed

[2016-08-08 14:29] MichaelSimons commented on #91
@bleevo, The images were rebuilt today against 10.0.14300.1030, please retry.

[2016-08-08 14:45] MichaelSimons commented on #92
@deployable, What is the OS of your Docker host machine?  Per the [Windows container requirements](Windows container requirements), "The Windows container feature is only available on Windows Server 2016 (Core and with Desktop Experience), Nano Server, and Windows 10 Professional and Enterprise (insiders build 14352 and up)."  This means the windowsservercore and nanoserver images can only be used

[2016-08-08 16:35] MichaelSimons opened #93 "Windows images should be referencing OS images from Docker Hub"
Now that the windowsservercore and nanoserver images on uploaded to Docker Hub, the Windows images should be updated to reference them.

[2016-08-08 19:34] ivanz commented on #92
I have Windows 10 Anniversary Update (14393.10) here and I get the same `unknown blob` error for both `nanoserver` and `windowservercore` images. I have both Hyper-V and Containers features enabled in Windows. I have installed Docker by downloading `Docker for Windows` from the docker website?

[2016-08-09 00:45] deployable commented on #92
@MichaelSimons I'm personally not on Windows, so that's why I was digging around the Registry API.

The Hubs Registry API response when trying to download the 1239394e5a8a layer blob is:
[code]

I wouldn't expect the API to stop you downloading 1 out of the 4 layer blobs for the image. I guess that would have to be based on the clients User Agent string? Curl makes no attempt to look like a docker

[2016-08-09 16:33] PatrickLang commented on #92
Here's what was recommended from @friism. For the time being you can run the Windows daemon on a different pipe to avoid the namespace conflicts and run side by side.
`.\dockerd.exe -H npipe:////./pipe/win_engine --register-service`
You can then run `docker -H npipe:////./pipe/win_engine` or set `DOCKER_HOST` to the win_engine pipe

Otherwise, you can `net stop docker` then run Docker for Windows

[2016-08-09 21:14] #93 closed

[2016-08-10 12:29] girishgouda opened #96 "unable to run dotnet nano server image on windows 10"
## Steps to reproduce the issue
1.Dockerizing the dotnet core application on windows 10
2.Docker file is as below
FROM microsoft/dotnet:1.0.0-preview2-nanoserver-sdk
RUN mkdir dotnetapp
COPY . dotnetapp
WORKDIR dotnetapp
RUN dotnet restore
EXPOSE 5000
ENTRYPOINT ["dotnet", "run"]
3.when building the docker image
docker build -it mywebapp .

## Expected behavior
dotnet restore should happen

## Act

[2016-08-10 20:31] MichaelSimons commented on #96
@girishgouda, Does your app have a NuGet.config specified?  If so what does it look like?  Have you tried a simple scenario such as the following?

[code]

[2016-08-10 20:34] MichaelSimons commented on #91
The images were rebuilt against 10.0.14300.1030.  Closing issue.

[2016-08-10 20:34] #91 closed

[2016-08-10 20:41] MichaelSimons commented on #57
The microsoft/dotnet images now come the the .NET core app packages cached.  Closing issue.

[2016-08-10 20:41] #57 closed

[2016-08-10 21:07] tim-cools opened #97 "microsoft/dotnet:1.0.0-preview2-sdk is not working anymore"
## Steps to reproduce the issue
1. Create following docker file:

[code]

## Expected behavior

An empty app should be created in in the container and the packages restored.

## Actual behavior (docker hub)

[code]
## Actual behavior (local)

[code]

The build keeps hanging at the restore.

[code]

[code]

## Additional information

This used to work some days ago as far as I know.

[2016-08-10 21:14] MichaelSimons commented on #97
@tim-cools, See the [known issue](https://github.com/dotnet/core/blob/fa0ddf2bc74e14b0fe3b856b5cb6596bd79c0bfc/cli/known-issues.md#dotnet-restore-in-the-root-of-the-file-system-fails) for not being able to restore a project located at the root.

Try the following instead
[code]

[2016-08-11 02:20] girishgouda commented on #96
Hi Michael

Following is my nuget file

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3"/>
  </packageSources>
</configuration>

and the simple scenario of creating the new project and restoring perfectly works fine .
but we want to deploy the already created dotnet core application fr

[2016-08-11 06:33] tim-cools commented on #97
@MichaelSimons thanks a lot. I was using `WORKDIR home` before in my Dockerfile, but stripped it out when looking for an other issue.

[2016-08-11 06:33] #97 closed

[2016-08-11 09:46] privinpt opened #98 "Unable to build .net Core docker image"
## Steps to reproduce the issue
1. Create a Windows 2016 TP5 server in azure, install docker
2. Create a docker file with content "FROM microsoft/dotnet:onbuild"
3. Build the docker file using command "docker build -t "netcore:latest" C:\userdata\poc\"

## Expected behavior
expected that the docker file gets build successfully

## Actual behavior

**Getting error as below**

PS C:\Users\privinpt>

[2016-08-11 13:41] MichaelSimons commented on #98
@privinpt, you will need to use the `microsoft/dotnet:windowservercore-onbuild` image instead of microsoft/dotnet:onbuild since you are using Windows 2016 TP5 server with Windows Containers.  Windows Containers is not capable of running Linux based containers.  There is work in progress to introduce a manifest that will ensure when you pull microsoft/dotnet:onbuild, that you will get an image that

[2016-08-11 14:48] MichaelSimons commented on #96
@girishgouda, What you are doing should be supported.  Do you have a NuGet.config higher up in the hierarchy which specifies custom packageSources which are needed by this project?   If you would be willing to share you project I can take a look.  Otherwise I would suggest trying to start with a simple project and building up to what you have in order to pinpoint the piece that is breaking the con

[2016-08-11 18:16] MichaelSimons commented on #92
Per previous comments, this is the current docker experience when pulling a windows based image outside of a Windows Container environment.  The [previous comment](https://github.com/dotnet/dotnet-docker/issues/92#issuecomment-238610723) gives guidance on how to run SxS.  These are both docker issues that are not specific to the microsoft/dotnet images.  Once fully supported there will be a manife

[2016-08-11 18:16] #92 closed

[2016-08-11 22:56] siggetest commented on #92
@MichaelSimons do you have any links to the docker issues you are describing so I can follow them?

[2016-08-12 03:25] girishgouda commented on #96
Hi
I have nuget file at the appdata folder which is mentioned in my previous entry.

Its a simple project, where i am referring kestrel package and get the machine name in Startup.cs

Follwing is the project.json file

**{
  "version": "1.0.0-*",
  "buildOptions": {
    "debugType": "portable",
    "emitEntryPoint": true
  },
  "dependencies": {},
  "frameworks": {
    "netcoreapp1.0": {
      "de

[2016-08-12 10:55] privinpt commented on #98
Thanks for your help.

Now when I use "FROM microsoft/dotnet:1.0.0-windowsservercore-core" in my docker file, I am getting the error "**unknown blob**". Build output given below.

I am running this on my Azure Windows 2016 TP5

[code]

[2016-08-12 23:38] naamunds commented on #96
@girishgouda I was able to repro the error by using the code you provided on my Nano Server TP5 VM.  However, I only hit the error some of the time, and it seemed to coincide with when my VM was having network issues.  You can test your network connectivity by doing `ping bing.com`.  If it's failing, you can try rebooting the VM and see if that fixes it.

[2016-08-13 02:13] girishgouda commented on #96
Hi

I am working on windows 10 anniversary update with hyper-v enabled and the from the documentation it supports creating nano server images. So I do not have the vm

I am unable to ping Bing.com from inside the container.

Any idea how to make the container use the host network or enable internet inside the container.

Sent from my Windows Phone
________________________________
From: Nate Amunds

[2016-08-15 13:31] MichaelSimons commented on #98
@privinpt, feel free to close this issue if I have answered your question/issue.  If you have additional questions or issues let us know or log a new issue.  Thanks

[2016-08-15 20:30] MichaelSimons commented on #96
@girishgouda, for clarity, have you tried accessing the network within a plain nanoserver container e.g. `docker run ... microsoft/nanoserver`?  Have you looked through the [Windows 10 networking troubleshooting guide](https://docs.docker.com/docker-for-windows/troubleshoot/#networking-issues)?  This may be a question better asked on [Docker](https://github.com/docker/docker/issues) if it is not s

[2016-08-16 15:09] MichaelSimons opened #99 "Add manifest to better support Windows and Linux based platforms"
With the current state of Docker and Windows Containers, a Windows based image cannot be run on Docker for Linux/Mac/Windows.  They can only be run from a Windows Containers environment.  Likewise a Linux based image cannot be run from a Windows Containers environment. The error experience when a user tries to pull/run an image in an unsupported environment is less than ideal.  A [manifest](https:

[2016-08-16 15:10] MichaelSimons commented on #34
This work is being tracked with https://github.com/dotnet/dotnet-docker/issues/99.  Closing this issue.

[2016-08-16 15:10] #34 closed

[2016-08-16 15:15] MichaelSimons commented on #92
@siggetest, The manifest supports this today.  This [blog post](https://blog.docker.com/2016/04/docker-windows-server-tp5/) explains what support exists.  It is more of an issue on the tooling side that is the problem form microsoft/dotnet.  The microsoft/dotnet work is being tracked with https://github.com/dotnet/dotnet-docker/issues/99.  I do not know how Docker is tracking their work within the

[2016-08-17 14:27] #98 closed

[2016-08-22 10:06] timotei commented on #34
@MichaelSimons I understand that, but my question was more like: will this limitation (running Linux on Windows platforms) be removed in the final release?

[2016-08-23 14:27] MichaelSimons commented on #88
I recommend against this for a couple reasons.  First the dotnet-install.ps1 is not a cli build artifact.  Because of this, there won't be a SHA available to perform a checksum validation against when downloaded.  Second, the script does not handle adding dotnet to the path very well.  Within the Docker image, dotnet should be installed to Program Files and be available to all users of the image.

[2016-08-23 14:27] #88 closed

[2016-08-23 14:36] MichaelSimons commented on #96
Closing due to inactivity and it appears to not be a microsoft/dotnet specific issue.

[2016-08-23 14:36] #96 closed

[2016-08-23 16:00] MichaelSimons commented on #34
@timotei, you can run Linux on the Windows platform via [Docker for Windows](https://docs.docker.com/engine/installation/windows/).

@PatrickLang, @friism - Is there any documentation (e.g. blog article) that talks about Docker for Windows vs Windows Containers, what the use cases are for each, how they can be used SxS and what the road maps looks like?  I think this would be helpful as there seem

[2016-08-23 16:23] friism commented on #34
* What are they: https://forums.docker.com/t/in-docker-for-windows-does-each-container-run-in-separate-vm/19192/6?u=friism
 * How to run them side by side: https://forums.docker.com/t/linux-and-windows-images-side-by-side/20518/4?u=friism

Work has been done to improve these errors, see details here:

 * https://github.com/docker/docker/issues/24766
 * https://github.com/docker/docker/pull/24819

[2016-09-07 19:26] grahamehorner opened #100 "unknown blob"
I've tried to download docker images using 'docker pull Microsoft/dotnet:nanoserver-core' etc.
the results is everything downloads except :-

cf62dbf6d334: Downloading
...
unknown blob

?

[2016-09-07 20:58] MichaelSimons commented on #100
@grahamehorner, what host OS are you using?  Windows images can only be pulled/run on a [Windows container compatible host](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/deployment/system_requirements).

[2016-09-12 04:16] renkun-ken commented on #61
I'm also using GitLab CI but docker image `microsoft/dotnet:latest` and `microsoft/dotnet-preview` produce the same segment fault at `dotnet restore`

[code]

[2016-09-12 15:02] piotrpMSFT commented on #61
@Livarcocc can you help ?

[2016-09-13 21:54] naamunds commented on #61
I've verified that this is fixed on Ubuntu 14.04 with kernel 4.6.2 in the .NET Core 1.0.1 update released today (SDK version 1.0.0-preview2-003131). The `microsoft/dotnet` Docker images have been updated to use this .NET version.

[2016-09-13 21:54] #61 closed

[2016-09-13 22:00] naamunds commented on #61
@renkun-ken The dotnet-preview Docker Hub repo has been replaced by the [dotnet-nightly repo](https://hub.docker.com/r/microsoft/dotnet-nightly/), so please use dotnet-nightly instead for last-known-good builds of .NET Core.

[2016-09-14 00:25] renkun-ken commented on #61
@naamunds Great work! I also verified that the docker images do work. Looks great now :) Thanks!

[2016-09-15 22:13] bbodenmiller opened #108 "create sdk Docker tag"
Appears there is `core`, `core-deps`, and `onbuild` Docker tags pointing at the latest release... why no `sdk` tag?

[2016-09-16 02:57] tugberkugurlu opened #109 "docker build doesn't cache the package restore"
## Steps to reproduce the issue
1. `git clone git@github.com:IdentityServer/IdentityServer4.Samples.git`
2. `cd IdentityServer4.Samples/Docker`
3. `git checkout cad8612d2c20b12b3e8a5b30c826f25938b3f141`
4. `docker-compose build`
5. Change a `.cs` file inside `./src` folder
6. run `docker-compose build` again

## Expected behavior

Should not do a package restore again as [it does the `project.json

[2016-09-18 16:45] SteveLasker commented on #109
I have to look at this with a little more time as I'm not familiar with this sample. The image we posted microsoft/aspnetcore assumes you're placing the published content, from dotnet publish (release mode) into the image. Take a look at http://aka.ms/DockerToolsForVS to see how we create and structure dockerfiles. You can see the results of a dockerized project here: https://github.com/SteveLaske

[2016-09-19 05:42] SteveLasker commented on #109
Hi @tugberkugurlu
Looking a bit more at the Dockerfiles, these use a mode where the code is copied and restored in the container. While we ad modishly haven't done a great job explaining a best practice for building images with compiled languages, such as .NET, this is using this model
What the sample should do is copy the output of a published folder into the image.
Building the published output

[2016-09-19 15:39] dleeapho opened #110 "Port dotnet-docker-nightly Debian CI to dotnet-docker"

[2016-09-19 15:40] dleeapho opened #111 "Bring up NanoServer CI"

[2016-09-19 15:42] dleeapho opened #112 "Port dotnet-docker-nightly WSC CI to dotnet-docker"

[2016-09-19 16:05] MichaelSimons commented on #100
Closing because of no response - please reactive with host OS information if this is still an issue.

[2016-09-19 16:05] #100 closed

[2016-09-19 17:26] naamunds commented on #109
@tugberkugurlu Because the Dockerfiles in [IdentityServer4.Samples/Docker/](https://github.com/IdentityServer/IdentityServer4.Samples/tree/dev/Docker) use `microsoft/dotnet:1.0.0-preview2-onbuild` as their base image, the `ONBUILD` instructions [defined in `microsoft/dotnet:1.0.0-preview2-onbuild`](https://github.com/dotnet/dotnet-docker/blob/master/1.0.0-preview2/debian/onbuild/Dockerfile) are ex

[2016-09-19 19:07] MichaelSimons commented on #108
@bbodenmiller, the `latest` tag points to the latest `sdk` image.  What is your scenario in which having an `sdk` tag would be beneficial over using the `latest` tag?

[2016-09-19 19:53] enyim opened #114 "The 1.0.0 "SDK" image actually has .NET 1.0.1 installed"
## Steps to reproduce the issue
1. pull the latest `microsoft/docker:1.0.0-preview2-sdk` image
2. Or check commit 352ca3442fe43589f948f123d9fe2cbdb564e260

## Expected behavior

1.0.0 images should have .NET Core 1.0.0 installed

## Actual behavior

They have 1.0.1 installed

## Additional information (e.g. issue happens only occasionally)

I believe, no matter how backward compatible the .NET rel

[2016-09-19 21:07] MichaelSimons commented on #109
@tugberkugurlu, the [Dockerfiles ](https://github.com/IdentityServer/IdentityServer4.Samples/tree/dev/Docker) do not seem optimal.  They are based on the onbuild image which already copies the entire contents of the Docker context into a dotnetapp folder of the image.  The onbuild also performs a dotnet restore from the dotnetapp folder.  The Dockerfile then proceeds to copy the app xxx specific c

[2016-09-19 21:19] bbodenmiller commented on #108
It's just not clear that `latest` points at the latest version of the sdk. Nor is it clear about the other tags actually.

[2016-09-19 22:11] MichaelSimons commented on #108
@bbodenmiller, point noted that `latest` is not clear as to what is references.  Can you expand on what you mean by "Nor is it clear about the other tags actually."  I am not following what you mean by this.  -Thanks

[2016-09-19 22:23] naamunds commented on #114
Hi @enyim, to make sure we're on the same page here, can you please elaborate on the following statement:

It is possible to compile and run a 1.0.0 project using the SDK released with .NET Core 1.0.1 (SDK version 1.0.0-preview2-003131) without modifying project.json or any other files; you may need to run `dotnet restore` first, though.

Also, what are the "mysterious compile errors" you're refer

[2016-09-19 22:28] enyim commented on #114
Hi,

I had a similar issue as `poteb` here: https://blogs.msdn.microsoft.com/dotnet/2016/09/13/announcing-september-2016-updates-for-net-core-1-0/

Unfortunately I have to work on the repro as my system is quite complex. I'll try to spend some time on it. Fixing the project json fixed the issue for me.

OTOH sorry about muddying the issue, my actual problem here is a red herring :) My point is tha

[2016-09-20 00:21] bbodenmiller commented on #108
I guess it is outlined at https://github.com/dotnet/dotnet-docker#supported-tags which tags are what. I just found it confusing that `latest` wasn't quickly called out as the image you most likely want to use and that the "Image variants" section makes no mention of the tags that follow the latest version. e.g. perhaps the "`microsoft/dotnet:<version>-sdk`" header could be updated to "`microsoft/d

[2016-09-20 00:21] #108 closed

[2016-09-20 17:22] naamunds commented on #114
The .NET Core SDK version in the `1.0.0-preview2-sdk` image tag changed because .NET released 1.0.0-preview2-003131 to replace 1.0.0-preview2-003121 as the current 1.0.0-preview2 release.

This repo does not provide image tags for specific .NET builds; the `1.0.0-preview2-sdk` image tracks the current .NET Core SDK release which is versioned 1.0.0-preview2, just as the `1.0-core` image tracks the

[2016-09-20 17:26] #114 closed

[2016-09-22 14:11] MichaelSimons commented on #109
Logged https://github.com/IdentityServer/IdentityServer4.Samples/issues/66 to address the issue with the sample Dockerfiles.  Closing this issue.

[2016-09-22 14:11] #109 closed

[2016-09-22 14:17] MichaelSimons commented on #45
Moved to aspnet-docker repo - https://github.com/aspnet/aspnet-docker/issues/153.  Closing this issue.

[2016-09-22 14:17] #45 closed

[2016-09-22 22:15] MichaelSimons commented on #110
This was fixed by https://github.com/dotnet/dotnet-docker/pull/115.

[2016-09-22 22:15] #110 closed

[2016-09-23 18:31] MichaelSimons commented on #21
There are no plans to create a supported Mono based image at this time.  If there is a strong demand for it we would reconsider but there isn't at this point.  Closing Issue.

[2016-09-23 18:31] #21 closed

[2016-09-23 19:59] naamunds opened #117 "Add CI for core-deps images"

[2016-09-27 21:36] #117 closed

[2016-09-27 22:41] ndykman opened #120 "Update Dockerfile to support Win2016 release images"
Latest is now at 10.0.14393.206 for NanoServer and WindowsServerCore images. Given that Windows Server 2016 has been released, it makes sense to have the Dockerfiles be based on at least the release version, if not just latest.

[2016-09-28 14:23] thinktainer opened #121 "Add ca-certificates to core-deps image"
## Steps to reproduce the issue
1. Create a self contained deployment that calls a SSL encrypted website endpoint
2. Copy deployment to core-deps image
3. Run the application
## Expected behavior

Endpoint communication should succeed.
## Actual behavior

The connection cannot be established due to missing ca-certificates package.

[2016-09-28 14:58] MichaelSimons commented on #121
cc @dleeapho, @glennc - When core-deps was created, the requirement was to only added the required .NET core dependencies and to keep the image as small as possible.  Adding ca-certificates would add 3.5 MB.  What are your thoughts?  The core image includes ca-certificates and curl.

[2016-09-28 17:20] #75 closed

[2016-09-28 17:20] #120 closed

[2016-09-29 23:24] glennc commented on #121
@thinktainer Is there a reason you can't ad ca-certificates to your own image? I assume that you are doing that now and this is more to make something like this work out-of-the-box for others. Is that correct?

I am also assuming that ca-certificates are not in the core image, is that right @MichaelSimons?

[2016-09-29 23:28] naamunds commented on #121
The `core` image installs both `ca-certifiactes` and `curl` on top of what's installed in the `core-deps` image.  See https://github.com/dotnet/dotnet-docker/blob/master/1.0/debian/core/Dockerfile#L4-L6.

[2016-09-30 00:00] glennc commented on #121
Of course. So we can download dotnet.

I am not against moving the 3.5mb down to core-deps. We have to assume that SSL is eventually going to be the default for any HTTP endpoint, and also assume that connecting over HTTP is so common that we might as well pay any cost here.

@MichaelSimons do you agree?

[2016-09-30 01:51] MichaelSimons commented on #121
@glennc, I agree.

[2016-09-30 19:39] naamunds commented on #121
I've made a PR for this in the nightly repo.  Adding `ca-certificates` only increased the size of the image on my Ubuntu Docker host by 1.8 MB, from 164.1 MB to 165.9 MB.

[2016-10-01 11:04] thinktainer commented on #121
Thank you for the fast turn around.

[2016-10-03 15:22] MichaelSimons commented on #121
@naamunds - Thanks for fixing this in nightly.  Because this is a functional change, I am thinking this should not be made in the official Dockerfiles until we move to 1.1 of the runtime - e.g. rev the version of the Dockerfile.

[2016-10-03 15:24] dleeapho commented on #121
@MichaelSimons - I agree we should wait on the 'official' Dockerfiles for 1.1

[2016-10-04 18:07] naamunds commented on #121
Makes sense. @thinktainer, in the meantime you can use `microsoft/dotnet-nightly:rel-1.0.0-core-deps`, which is otherwise identical to `microsoft/dotnet:1.0.1-core-deps`.

[2016-10-04 19:23] naamunds commented on #121
Makes sense.

@thinktainer, in the meantime you can use the following Dockerfile to create a core-deps image with ca-certificates:

    FROM microsoft/dotnet:1.0.1-core-deps

    RUN apt-get update \
        && apt-get install -y --no-install-recommends \
            ca-certificates \
        && rm -rf /var/lib/apt/lists/*

Alternatively, you can use `microsoft/dotnet-nightly:rel-1.0.0-core-deps`,

[2016-10-05 19:22] thinktainer commented on #121
Thank You!

[2016-10-05 21:28] dleeapho opened #126 "Work with Docker to get a feed for usage (pull) data to incorporate into mc"

[2016-10-07 15:43] MichaelSimons opened #127 "Remove Windows Server Core images"
Nano Server is the optimal Windows container environment to develop, test and run .NET Core applications within.  Windows Server Core on the other hand targets full framework .NET applications.  It makes sense that we help guide users to the container environment that will provide them the best .NET Core experience.  In an effort to support this, the Windows Server Core images should be dropped.

[2016-10-07 15:51] richlander commented on #127
See: https://github.com/dotnet/dotnet-docker/pull/128

[2016-10-07 16:06] MichaelSimons commented on #112
Closing because of #127.

[2016-10-07 16:06] #112 closed

[2016-10-07 16:31] dleeapho opened #130 "Official- Uptake WS16/Windows Containers Ignite Eval Release"

[2016-10-07 16:32] #130 closed

[2016-10-07 21:34] #127 closed

[2016-10-10 19:03] #126 closed

[2016-10-11 22:25] darrenstahlmsft commented on #99
FYI, when attempting to pull a Linux container image on a Windows Container host, the error message is much better:
[code]

[2016-10-20 16:44] #111 closed

[2016-10-24 12:46] zorgoz opened #136 "No access to core containers"
## Steps to reproduce the issue
0. Environment: Windows 2016 with container feature enabled
1. Create Dockerfile
2. Add FROM microsoft/1.0-nanoserver-core or any other except bare nanoserver
3. Issue docker build command

## Expected behavior
The container is pulled if necessary.

## Actual behavior
Process fails with: `unauthorized: authentication required `

## Additional information (e.g. issue

[2016-10-24 13:29] MichaelSimons commented on #136
@zorgoz - In step 3 of your repro, when you say "any other except bare nanoserver" does that mean any other microsoft/dotnet image or any other image outside of microsoft/dotnet?  This doesn't appear to be a microsoft/dotnet image specific issue which is why I ask.

[2016-10-24 14:01] zorgoz commented on #136
@MichaelSimons - I have tried only some from those built for Debian (they are accessible, but they fail because of the platform). So what I meant was any other microsoft/dotnet image based on nanoserver is failing with this authentication error.

[2016-10-25 06:49] zorgoz commented on #136
My mistake. I made a syntax error, i have used the tag as image name. It is interesting trough, that Debian based ones behaved differently.

[2016-10-25 06:49] #136 closed

[2016-10-25 15:38] MichaelSimons opened #138 "Add `sdk` tag"
There have been a few requests (e.g https://github.com/dotnet/dotnet-docker/issues/108) to add a plain `sdk` tag.  This would make the tagging more consistent with the 'core', 'core-deps', and 'onbuild' images.

[2016-10-28 19:41] MichaelSimons opened #145 "Remove onbuild Dockerfiles"
The `onbuild` Dockerfiles should be removed for the following reasons.

1. Users who are new to Docker get confused by the `onbuild` tags and are using them incorrectly.  Users see the tag and think it should be used for building their apps but do not understand the `onbuild` docker concept.  Because of this, users are redefining what `onbuild` already does as shown in the sample below.  As a resu

[2016-10-28 19:44] #145 closed

[2016-10-30 21:35] moander opened #147 "Lots of 404 in the Docker hub README"
README at https://hub.docker.com/r/microsoft/dotnet/ is broken.

Example:
https://github.com/dotnet/dotnet-docker/blob/master/1.0.0-preview2/debian/Dockerfile

[2016-10-31 14:35] #138 closed

[2016-10-31 15:40] #147 closed

[2016-11-02 17:02] kataik opened #150 "Dotnet restore does not create a lock file"
I have a folder structure, which has a _Dockerfile_ in its root. The solution folders are under a folder named **src** and the .NET Core solutions can be found underneath, for example:

My _Dockerfile_ has the following code:

[code]

## Steps to reproduce the issue
1. Execute `docker build`

## Expected behavior
The build process succeeds.

## Actual behavior
The build process fails during the `d

[2016-11-10 12:57] tilutza opened #154 "Visual Studio Docker tools 0.41 docker build is failing"
## Steps to reproduce
- Create a new template project from VS 2015 U3 with Docker Tools 0.41 installed

try to build manually:
[code]

On my side it does not work either to debug from Visual Studio either, but I think it is not related to. However, I will paste here, maybe it is related:
`Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4018	The "PrepareForCompile" task faile

[2016-11-10 17:36] MichaelSimons commented on #154
@tilutza - the issue you are encountering does not appear specific to the microsoft/dotnet images themselves.  I think you would be better off starting a discussion with [Visual Studio Tools for Docker](https://visualstudiogallery.msdn.microsoft.com/0f5b2caa-ea00-41c8-b8a2-058c7da0b3e4) about this issue.

Is your app getting compiled prior to running  docker-compose.exe build?  Try running docker

[2016-11-10 17:45] tilutza commented on #154
Regarding the Visual Studio error, I have added a comment in the [troubleshooting page](https://azure.microsoft.com/en-us/documentation/articles/vs-azure-tools-docker-troubleshooting-docker-errors/), but for clarity I will paste here as well:

Unfortunately I don't know the reason, since I would have change the github page.

However, the issue does not occurs with Windows 10 and Docker Tools (not

[2016-11-10 18:12] MichaelSimons commented on #150
@kataik, I have been unable to reproduce this.  I'm curious if you ever see this happen if you don't use Docker Volumes?

[2016-11-12 16:13] benc-uk opened #155 "Unable to publish ASP.NET Core application - bower & npm is missing"
## Steps to reproduce the issue
1. Create a new ASP.NET Core project using `dotnet new -t web`
2. Create standard Dockerfile inside project folder, as described in your readme [https://github.com/dotnet/dotnet-docker#build-and-run-an-application-with-a-net-core-sdk-image](url)
3. Run `docker build . -t foobar`

## Expected behavior
ASP.NET Core project is built and published into the docker image

[2016-11-13 20:20] friism commented on #155
I think the ASP.NET build image has NPM and friends: https://hub.docker.com/r/microsoft/aspnetcore-build/

[2016-11-14 11:38] benc-uk commented on #155
@friism Thank you! I hadn't found that image, it's not linked to or referenced on either the microsoft/aspnetcore or microsoft/dotnet image pages on Dockerhub.

[2016-11-14 11:38] #155 closed

[2016-11-14 15:36] friism commented on #155
cc @glennc

[2016-11-16 02:30] #42 closed

[2016-11-16 16:14] MichaelSimons commented on #154
@tilutza, if this is still an issue, please follow up with [Visual Studio Tools for Docker](https://visualstudiogallery.msdn.microsoft.com/0f5b2caa-ea00-41c8-b8a2-058c7da0b3e4).  Closing issue.

[2016-11-16 16:14] #154 closed

[2016-11-18 21:21] mikeharder opened #161 "Format tags section to match the convention used by most images"
We should format the tags section for dotnet to match the convention used by most images, with the tags in black text instead of blue underlined.  For an example, see https://hub.docker.com/r/microsoft/dotnet-samples/.

[2016-11-19 10:19] Daniel15 commented on #73
What's the status of this?

[2016-11-20 15:50] shaggygi opened #162 "Unable to start debugging Docker container"
I'm trying out the new Visual Studio 2017 RC and ASP.NET Core web app and get a prompt stating "Unable to start debugging.  Unable to establish a connection to CLRDBG.  Debug output may contain more information."

Output Windows shows the following:

Starting: "docker" exec -i 7459ff7a006c /clrdbg/clrdbg --interpreter=mi
rpc error: code = 13 desc = invalid header field value "oci runtime error: ex

[2016-11-21 14:35] MichaelSimons commented on #73
@Daniel15 - this work is blocked on dotnet/cli#2565.

[2016-11-21 17:00] #161 closed

[2016-11-22 23:43] dbreshears commented on #162
Hi shaggygi,

Couple things to check with you.  Do you have your systemdrive shared with Docker For Windows?  Do you find a %userprofile%\clrdbg folder?   My guess is  that this local folder  not getting volume mapped into the container for some reason.

[2016-11-22 23:53] shaggygi commented on #162
@dbreshears I can navigate and see the mentioned folder and is empty.

[2016-11-22 23:57] dbreshears commented on #162
@shaggygi .  We download a script named "GetClrDbg.ps1" to the %TMP% folder and attempt to execute that.   This script will result in creating the %userprofile%\clrbdg.    Do you see that script in the temp folder?   Do you happen to have any spaces in the path for %TMP%?

[2016-11-23 00:03] shaggygi commented on #162
@dbreshears I can see "GetClrDbg.ps1" file in the temp directory and there are no spaces in the path.  For example...

C:\Users\MyUserName\AppData\Local\Temp

[2016-11-23 00:47] weidazhao commented on #162
@shaggygi, please try deleting the "GetClrDbg.ps1" from the %temp% folder and try F5 again. If it still doesn't work, please let us know.

Meanwhile, you also could run the following PS command from PowerShell command prompt as a workaround:

Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
.\GetClrDbg.ps1 -Version latest -RuntimeID debian.8-x64 -InstallPath "$env:UserProfile\c

[2016-11-23 01:16] shaggygi commented on #162
@dbreshears @weidazhao I deleted "GegClrDbg.ps1" and tried rebuilding and deploying, but get same error on not able to debug.

I tried the second instruction of running the provided PowerShell command and worked.  I was able to deploy to the container, the ASP.NET Core app opened in browser and was able to set a breakpoint to step through code.

I did notice red squiggles and such throughout code,

[2016-11-23 19:02] weidazhao commented on #162
@shaggygi, can you please reproduce the issue and find the logs in the Build output window to send to me? You can delete %UserProfile%\clrdbg and F5 to repro the issue. VS will try to download the debugger again. Thanks.

[2016-11-23 19:57] omajid opened #164 "What's the license of these images?"
Suppose I want to build on top of these dockerfiles on Linux and possibly even distribute the resulting docker images. Maybe I want to mirror all of dockerhub locally. What license should I be looking at?

- The LICENSE file says this is licensed under MIT
- The README refers to a proprietary license for .NET Core binaries: https://www.microsoft.com/net/dotnet_library_license.htm
- The README says

[2016-11-25 11:52] shaggygi commented on #162
@weidazhao I deleted the clrdbg directory and GetClrDbg.ps1 and rebuilt the app.  It appeared to create them again and my demo app ran/debugged fine.  I don't think I will be able to reproduce the original error:

"Unable to start debugging. Unable to establish a connection to CLRDBG. Debug output may contain more information."

[2016-11-28 14:32] MichaelSimons commented on #162
Glad to see a solution was found.  @weidazhao, if necessary please track any needed fixes on your side.  This issue is not related to the dotnet/dotnet-docker repo therefore I am closing it.

[2016-11-28 14:32] #162 closed

[2016-11-28 14:56] MichaelSimons commented on #164
@richlander, @kendrahavens, @vivmishra - please respond.

[2016-11-28 20:59] glennc commented on #155
I am going to do a PR to the README on Dockerhub now that will link the two images together. Help people find what they need.

[2016-11-28 21:12] MichaelSimons commented on #150
@kataik, I just noticed something with your `Dockerfile` that looks incorrect.  You declare the `VOLUME` before coping the project, restoring, and building.  This looks to be the source of your problem.  According to the [Dockerfile documentation](https://docs.docker.com/engine/reference/builder/#/volume)

[code]

Try moving the `VOLUME` commands to the end of the `Dockerfile`.

[2016-11-28 22:21] richlander commented on #164
The .NET Core product is licensed as the .NET Library license you have listed. You can think of this as the "Microsoft distribution of .NET Core".

The source is copyright .NET Foundation and is MIT licensed.

You are free to do what you want, which is build images on top. If that doesn't work for you, I'd love to learn more. Would be good to jump on a call to have a higher-velocity discussion. Yo

[2016-11-29 06:05] nitin-a commented on #162
I tried the above steps and get the below success message
`PS C:\users\username\appdata\Local\Temp> .\GetClrDbg.ps1  -Version latest -RuntimeID debian.8-x64 -InstallPath "$env:User
Profile\clrdbg" >> c:\test11.txt
Info: Using clrdbg version '14.0.25406-preview-3044032'
Info: Using Runtime ID 'debian.8-x64'
Info: Generating project.json
Info: Generating NuGet.config
Info: Executing dotnet restore
I

[2016-12-02 17:30] tommed opened #168 "Need to make it easier to run nuget in docker image to publish builds to private repos"
## Summary

Like most (I'm sure), docker and dotnet are a great paradigm for automated build systems. However, when the end artefact of your build is one or more nuget packages, it is extremely hard to get `dotnet-docker` to publish nuget packages to a repo.

This isn't necessarily this repo's domain but, the vision of running builds on this infrastructure is no doubt a great use of this technolog

[2016-12-02 20:17] natemcmaster commented on #168
Have you tried using `dotnet nuget push` instead of Mono's nuget implementation? (See `dotnet nuget push --help`).

[2016-12-05 15:11] MichaelSimons commented on #150
@kataik, if my last response did not address your issue, please update this issue and re-open.

[2016-12-05 15:11] #150 closed

[2016-12-05 15:13] MichaelSimons commented on #164
@omajid, Did Rich's response answer your question?  Feel free to reach out if you have additional questions.

[2016-12-05 15:13] #164 closed

[2016-12-05 16:06] omajid commented on #164
Thanks, yes, Rich's response addresses my questions.

[2016-12-07 17:22] tommed commented on #168
Is this correct? This is a private repo I'm trying to push to, so nuget's `-Source` parameter is needed here:
[code]

[2016-12-07 17:39] MichaelSimons commented on #168
@tommed please try `-s` or `--source` instead.

[2016-12-07 18:03] natemcmaster opened #169 "Create LTS tag"
Like latest, but for the slow, stable train.

aspnetcore images will be adding a tag named `lts` to mark this. cref https://github.com/aspnet/aspnet-docker/issues/168

[2016-12-08 13:40] tommed commented on #168
Nice! thanks

[2016-12-08 13:40] #168 closed

[2016-12-13 00:52] #121 closed

[2016-12-14 18:35] nozer opened #174 "I keep getting 1.0.0-preview* version on my latest & 1.1.0-sdk-msbuild docker installs"
I installed `microsoft/dotnet:latest` and `microsoft/dotnet:1.1.0-sdk-msbuild` docker images.
When I run and log into both to issue `> dotnet --version` command, I always get the 1.0.0-preview* as versions

[code]

How can I install the dotnet docker image where its dotnet version will be 1.1.0?

[2016-12-14 20:41] MichaelSimons commented on #174
The Docker image version number is intended to align with the version of the runtime the image contains.   The version number you are seeing when you do `dotnet --version` is the tooling (CLI) version, not the runtime version.  The version of the tooling does not currently align with the runtime.  This is something we are working on correcting.  The `1.1.0-sdk-msbuild` image, is the image you shou

[2016-12-14 20:46] nozer commented on #174
Thank you for the great explanation!

[2016-12-14 20:46] #174 closed

[2016-12-15 09:56] Yantrio commented on #145
This is a poor reason to remove functionality that is used by many people. I think if the users are confusing it, then improve documentation somehow, don't just remove it.

[2016-12-15 22:44] MichaelSimons commented on #145
@Yantrio, thank you for the feedback.  Would you be willing to share the scenario in which the onbuild image was adding value for you?  Is defining your own Dockerfile that does the equivalent something you have considered?  Can you explain why you would prefer an onbuild image versus having your own  Dockerfile?

[2016-12-27 21:42] johnomalley opened #175 "dotnet restore fails in docker build"
## Steps to reproduce the issue
1. With dotnet SDK 1.0.0-preview4-004233, run 'dotnet new' in a temporary directory.
2. Create Dockerfile in that same directory:
[code]
3. Run `docker build .` from the work directory.

## Expected behavior
Build should work.

## Actual behavior

[code]

## Additional information (e.g. issue happens only occasionally)

This is a minimal reproducible case extracted

[2016-12-30 00:20] naamunds commented on #175
The issue is that the SDK version that you are using to create the app (1.0.0-preview4-004233) is incompatible with the SDK version that's currently in the `microsoft/dotnet:1.1-sdk-msbuild` image (1.0.0-preview3-004056).

As a workaround, you can create an image that has 1.0.0-preview4-004233 by copying https://raw.githubusercontent.com/dotnet/dotnet-docker/master/1.1/debian/sdk/msbuild/Dockerfil

[2016-12-30 23:25] tommed commented on #175
Hopefully there is a process in place whereby when the new versions of the preview tooling are released, the Docker images are also updated? Otherwise developers will upgrade and the build servers (and production environments) will not be able to keep up.

I think the Docker images should be considered first-class citizens for the tooling releases!

[2017-01-04 17:40] RTodorov commented on #22
Hello guys!

Is this still on the roadmap? It's a bit hard to understand the current status of https://github.com/dotnet/coreclr/issues/917.

Thanks!

[2017-01-04 17:57] MichaelSimons commented on #22
@RTodorov, Yes Alpine support is being actively worked on although there is no set release date as of now.

[2017-01-05 07:12] yaakov-h opened #176 "Docker image appears to not include HTTP/2 support"
## Steps to reproduce the issue
1. Run the .NET Core 1.1 Docker container:
[code]

2. Create a new .NET Core command-line application:
[code]

3. Edit Program.cs. For this, I used vim:
[code]

4. Replace the contents of Program.cs with the following code:
[code]

5. Build and run the .NET Core application:
[code]

## Expected behavior
An HTTP/2 response from Apple containing JSON.

## Actual behav

[2017-01-05 23:36] MichaelSimons commented on #176
Linking to https://github.com/dotnet/corefx/issues/14715 as this has some useful background info.

[2017-01-06 15:52] MichaelSimons commented on #176
Running these [steps to configure curl with http2](https://serversforhackers.com/video/curl-with-http2-support) in the image appears to correct the issue.

I am not sure configuring curl for http/2 belongs in the dotnet Docker images.  It seems more appropriate for this to happen in the buildpack-deps:jessie-curl base image, therefore I logged https://github.com/docker-library/buildpack-deps/issue

[2017-01-11 19:54] tonysneed opened #179 "Error Pushing Layer 53c779688d06 to Docker Hub"
## Steps to reproduce the issue
1. Pull microsoft/dotnet
2. Tag with Docker Hub account name
3. Push image

## Expected behavior
Able to push image to Docker Hob repo

## Actual behavior

[code]

## Additional information (e.g. issue happens only occasionally)
Local images:

[code]

Command:

[code]

Output:

[code]
## Output of `docker version`

[code]

## Output of `docker info`

[code]

[2017-01-13 04:52] MichaelSimons commented on #179
@tonysneed, I'm not able to reproduce this but my environment is a little different than yours.  Just a couple basic questions to rule out the obvious.  Did you retry the push after waiting some period of time?  Did you try these basic steps with a non-dotnet image such as debian:jessie?

[2017-01-13 05:51] tonysneed commented on #179
@MichaelSimons I had tried waiting and re-pushing, but to no avail.  Then based on your reply, I restarted and updated Docker for Mac on my machine, and I quite and restarted Terminal.  After that, I was able to push the image just fine.  Thanks!

[2017-01-13 05:51] #179 closed

[2017-01-13 10:04] kenkendk commented on #168
I found that the problem with nuget in Docker can be solved by:

1. install `ca-certificates-mono`
2. Add `RUN nuget update -self`

That avoids all the dependencies on `mozroots` and `cert-sync`

[2017-01-23 13:17] tommed commented on #168
YES!

[2017-01-26 00:21] richlander commented on #175
This is now fixed. `dotnet:1.1-sdk-msbuild` has been updated. Appologies to all. This was a mistake that we don't intend to repeat.

[2017-01-26 00:21] #175 closed

[2017-01-26 19:47] galvesribeiro opened #185 "Debug with docker containers"
What is the proper way to install the debugger on a dotnet image and get it debugging from VSCode?

Currently there are multiple (messy) ways to work with old project.json and containers like for example, that bunch of scripts generated by `yo docker`.

Is there any guidance on how to create a debug container for .net apps?

Thank you

[2017-01-26 23:53] MichaelSimons opened #186 "Remove the Docker number of pull and stars from the readme"
Per information from Docker, the svgs are going to be deprecated and therefore will not be updated.  The exact timeframe of this is not set.  Furthermore the presences of these in the Docker Store UI is bad for two reasons.

1. Docker Store already has the count shown at the top of the page
2. The two counts are rounded differently.  The store number is bucketed (10k+, 100k+, 500k+, 1M+, 5M+ ...)

[2017-01-27 16:41] MichaelSimons commented on #185
@galvesribeiro,  Good question.  The `yo docker` experience is definitely out of date.  We currently don't have any guidance on this.  Let me dig around a little and see what I can come up with.

[2017-01-27 16:56] galvesribeiro commented on #185
Thanks @MichaelSimons I appreciate that. I'm struggling to get it to work here. Even if I use VS2017 which has that `Add Docker Support` function, it works, but there is no docks on how that works whatsoever so I can't try reproduce it on VSCode. Looking forward to hear from you, thanks!

[2017-01-27 21:00] MichaelSimons commented on #185
For my own exercise, I went through the `yo docker` experience.  Even though it was out of date, I was able to get it working with a few tweaks.

1. `mkdir DockerDebugApp`
2. `cd DockerDebugApp`
2. `dotnet new -t Console1.1`
3. `yo docker` (used defaults)
4. Ignore project.json file does not exist error
5. Open DockerDebugAdd in VSCode
6. add the following to the csproj
[code]
        RUN apt-get

[2017-01-27 21:19] galvesribeiro commented on #185
Was about to ping you... I did similar thing and it work :)

However, that is not close to what we have with VS2017, where you can run/debug multiple projects using the solution-level docker-compose files...

[2017-01-28 11:26] SebastianStehle opened #188 "PhantomJS support"
Hi,

I would like to use aspnetcore-build for my build process but I need PhantomJS to run my angular2 tests.

When I run npm install inside the container it fails with the following exception: "bzip2: Cannot exec: No such file or directory"

Please either add bzip2 or phantomjs to the container.

[2017-01-30 14:56] #186 closed

[2017-01-30 15:46] MichaelSimons commented on #188
@SebastianStehle - Is there a reason you can't add bzip2 or phantomjs to your own image? Are you doing that now and this issue is more to make something like this work out-of-the-box for others?

We have been holding the bar high for what is added to the base images.  What is added should be things that are widely used by the image users.  The SDK images are large already, if we don't maintain thi

[2017-01-30 17:41] SebastianStehle commented on #188
To be hones, when I added the issue, I was not aware that it is so easy. I created my own image now. Attached is my docker file.

But I think (or hope) that this is a very common use case.

[Dockerfile.txt](https://github.com/dotnet/dotnet-docker/files/739750/Dockerfile.txt)

[2017-01-30 18:34] MichaelSimons commented on #188
@SebastianStehle, Glad to hear you have a solution.  Docker does make things like this nice and easy 😄

We will continue to monitor the incoming requests on what to include in the base images.  When there is a consensus on a particular component we will update the base images.  Closing issue at point in time.

[2017-01-30 18:34] #188 closed

[2017-01-31 15:06] MichaelSimons commented on #185
I moved this to https://github.com/Microsoft/generator-docker/issues/130 since the underlying issue is not specific to the Docker image rather it is with the broken yo docker experience.

[2017-01-31 15:06] #185 closed

[2017-01-31 15:32] dasMulli commented on #185
@MichaelSimons most of the fuss is about downloading clrdbg into the containers. Does it make sense to create a public image that already includes the correct debugger? (e.g. `microsoft/dotnet:1.1-sdk-msbuild-debug`).

[2017-01-31 15:46] galvesribeiro commented on #185
@dasMulli if you look at simple apps with a single container yes, people don't know that the SDK doesn't come with the debugger. However, when you have multiple containers (i.e. docker-compose based projects) the problem goes far from just that. Look at the new issue @MichaelSimons just created.

[2017-02-01 18:12] lewislabs opened #197 "Should I be able to build a lib targeting net45 from within a microsoft/dotnet:1.1.0-sdk-projectjson container?"
## Steps to reproduce the issue
Using `microsoft/dotnet:1.1.0-sdk-projectjson` should I be able to build a library that targets "netcoreapp1.0" and "net452"?

Here's my project.json
[code]

When I build this on my host machine (`dotnet build`) it works fine. But when I try to build the project inside a container I get
` error NU1001: The dependency System.Runtime.Serialization >= 4.0.0 could not b

[2017-02-01 18:43] natemcmaster commented on #197
Short answer: not by default. .NET Framework is a Windows-only component. The image is Linux based, so it doesn't have the .NET Framework assemblies installed.

I'd recommend looking into targeting 'netstandard1.0' or 'netstandard1.1' instead of cross-compiling. These are compatible with both .NET Core and .NET Framework 4.5.

[2017-02-01 20:56] lewislabs commented on #197
Would love to target netstandard but unfortunately we need to reference System.Runtime.Serialization for the Datacontractattribute.

[2017-02-01 21:04] lewislabs commented on #197
It does build fine though if mono is installed in the container. I'm not sure if that's a blessing or a hidden feature though!

[2017-02-01 21:35] natemcmaster commented on #197
Are you referencing https://www.nuget.org/packages/System.Runtime.Serialization.Primitives/? Haven't tried it myself, but docs say it contains the  Datacontractattribute.

Referencing mono is a close approximation of .NET Framework...with a few corner cases. It makes the container really big though, so we don't plan to put that in our images.

[2017-02-02 10:09] lewislabs commented on #197
Yes we are referencing System.Runtime.Serialization.Primitives. I didn't think that would work across .NET Framework as well. I'll have another try.

[2017-02-02 10:39] lewislabs commented on #197
Seems like this has worked fine for our use case. Thanks for the clarity @natemcmaster

[2017-02-02 10:39] #197 closed

[2017-02-02 16:18] natemcmaster commented on #197
Happy to help!

[2017-02-03 13:29] devedse opened #198 "No executable found matching command “dotnet-/../.dll” when running dotnet core docker image in Azure Web App on Linux"
Hi all, I'm running into an issue with running the docker dotnet image on the Linux containers in Azure. I'm not exactly sure if this issue is related to the docker image itself or to something strange Azure is doing, but since I haven't been able to get any response on my post on Stackoverflow, I wanted to try it here as well :).

A very detailed description of my issue can be found on the follow

[2017-02-03 14:25] jasoncouture opened #199 "DockerClient and IDockerClient should support setting Timeout value."
Currently, with the exception of some long running commands, there is no way to override the default timeout set by DockerClient.

I propose that a Nullable<TimeSpan> property be added to IDockerClient: RequestTimeout to allow the timeout to be overridden.

Use case:
My test deployment environment is scavanged from older server hardware at work, it's not very fast, particularly the hard drives, de

[2017-02-03 14:27] jasoncouture commented on #199
Wrong repo, sorry :/ closing.

[2017-02-03 14:27] #199 closed

[2017-02-03 23:42] MichaelSimons commented on #198
@devedse, I took a look at your project/Dockerfile and agree this issue doesn't not seem related to the dotnet image.  I agree something seems suspect with Azure.  I tried reproducing with a new aspnet1.1 project and it worked fine within Azure.  Have you considered asking your question on the [Azure AppService forums](https://social.msdn.microsoft.com/Forums/en-US/home?forum=windowsazurewebsitesp

[2017-02-05 11:12] tommed commented on #168
`ca-certificates-mono` does not exist on the Debian `buildpack-deps:jessie-scm` image that dotnet is based on. There is `ca-certificates` and `nuget update -self` fails with: "Error getting response stream (Write: The authentication or decryption has failed.): SendFailure"

[2017-02-05 20:54] kenkendk commented on #168
I think this can explain it:
http://www.mono-project.com/docs/about-mono/releases/3.12.0/

If `ca-certificates-mono` does not exist, it should be possible to run:
[code]

[2017-02-05 20:56] tommed commented on #168
Doesn't cert-sync require huge amounts of dependencies? See initial comments

[2017-02-05 20:57] kenkendk commented on #168
It should be bundled with Mono, but I have not checked.

[2017-02-05 20:59] tommed commented on #168
The whole point is not to require mono in the first place. The dotnet core SDK and CLI should have everything out needs. Why then install the entire mono runtime in a docker image, just so you can push a nuget package? It's just ssl certificates that are stopping this

[2017-02-05 21:04] kenkendk commented on #168
I see... I am using the Mono runtime anyway, so no problem for me.
Maybe you need to ask the Debian maintainers why they dropped `ca-certificates-mono` in Jessie, and maybe they can explain what to do instead. I have looked for that information for another use case, but not found anything.

[2017-02-05 21:04] tommed commented on #168
Thank you

[2017-02-07 00:01] MichaelSimons opened #201 "Update `latest` tag to reference msbuild image."
In the beginning of 2016 the .NET Core team [announced a plan](https://blogs.msdn.microsoft.com/dotnet/2016/05/23/changes-to-project-json/) to migrate from project.json to msbuild.  Docker images are being produced for both project systems today.  Currently the `latest` tag references a [project.json image](https://github.com/dotnet/dotnet-docker/blob/master/1.1/debian/sdk/projectjson/Dockerfile).

[2017-02-07 10:08] devedse commented on #198
Created a post here:
https://social.msdn.microsoft.com/Forums/en-US/a9ff9289-c254-4d35-b8ce-a6ab50f58c48/no-executable-found-matching-command-dotnetdll-when-running-dotnet-core-docker-image-in?forum=windowsazurewebsitespreview

[2017-02-07 22:10] MichaelSimons commented on #201
Fixed with https://github.com/dotnet/dotnet-docker/pull/200

[2017-02-07 22:10] #201 closed

[2017-02-09 19:22] OctopusNetworkDevelopment opened #203 "Building ASP.NET project results in an MSB1003 ( Specify a project or solution file. The current working directory does not contain a project or solution file.)"
## Steps to reproduce the issue
1. cd into ASP.NET MVC project made with .NET 4.5 and C#6
2. run `docker run microsoft/dotnet dotnet restore`
3. also happens when I specify project file, solution file, and even nuget package config file

## Expected behavior
Should build the project into it's respective format

## Actual behavior
Throws an error about the project or solution file not existing

##

[2017-02-09 19:32] MichaelSimons commented on #203
@OctopusNetworkDevelopment - Does your project have a project.json file or is it msbuild based (e.g. has a csproj)?  I am suspecting you have a project.json file.  If so, please see this [announcement](https://blogs.msdn.microsoft.com/dotnet/2017/02/07/announcing-net-core-tools-updates-in-vs-2017-rc/).     You will need to either use the `1.1.0-sdk-projectjson` Docker image or migrate your project

[2017-02-09 19:44] OctopusNetworkDevelopment commented on #203
@MichaelSimons definitely msbuild based, no project.json and msbuild works in a normal cmd

[2017-02-09 19:44] OctopusNetworkDevelopment commented on #203
@MichaelSimons thanks for the quick reply btw

[2017-02-09 20:20] MichaelSimons commented on #203
@OctopusNetworkDevelopment, Are you literally running `docker run microsoft/dotnet dotnet restore` within the project directory?  If so, you are going to need to get the project's source code into the Docker container.  The container is empty by default.  You could do this by mounting the current project's directory as a volume within the container or you could create a Dockerfile to do this.  An

[2017-02-09 20:24] OctopusNetworkDevelopment commented on #203
@MichaelSimons is it possible to mount my C drive and use my original dev folder? Just to keep everything in the same place that's all...

Just tried and I can't find it

[2017-02-09 20:41] MichaelSimons commented on #203
@OctopusNetworkDevelopment, I take it you are running on Windows?  You should be able to do something like `docker run -v c:/:/cdrive microsoft/dotnet`.  You will have to make sure the drive is shared in your Docker settings.

[2017-02-09 20:58] MichaelSimons commented on #198
@devedse, just noticed your stackoverflow post was answered.  As we both suspected Azure was doing some magic that was not jiving with your Dockerfile.

[2017-02-09 20:58] #198 closed

[2017-02-09 21:02] MichaelSimons opened #204 "Drop the project.json images"
When the dotnet SDK releases their RTM version, we will stop supporting the project.json images. When we do that, we can remove the project.json Dockerfiles, drop the -msbuild suffix from the sdk images and simplify test code.

[2017-02-09 22:47] devedse commented on #198
Yep thanks, forgot to close this one :)

[2017-02-10 14:42] MichaelSimons commented on #203
@OctopusNetworkDevelopment - were you able to get your project mounted in the container?  Feel free to close this issue if you were able to `dotnet restore` your project within a container.

[2017-02-10 19:08] OctopusNetworkDevelopment commented on #203
@MichaelSimons  couldn't actually find the docker settings, but I decided to go with an ftp deployment strategy instead of a docker machine. Thanks for your help anyway, I'll close it.

[2017-02-10 19:09] #203 closed

[2017-02-10 19:35] MichaelSimons commented on #203
@OctopusNetworkDevelopment - For future reference here is the some [documentation on the docker settings for Windows](https://docs.docker.com/docker-for-windows/#/docker-settings)

[2017-02-16 00:15] luis-echegaray commented on #175
the error has resurfaced on 1.1!

RUN apt-get update
RUN wget -qO- https://deb.nodesource.com/setup_6.x | bash -
RUN apt-get install -y build-essential nodejs

COPY . /app

WORKDIR /app

RUN ["dotnet", "restore"]
RUN ["dotnet", "build"]

EXPOSE 5000/tcp

CMD ["dotnet", "run", "--server.urls", "http://*:5000"]

[2017-02-16 13:13] dasMulli opened #208 "Create Windows Server Core based images for full fx + core multi targeting"
Since you can't build and test applications that multi-target `netcoreapp*` and `net*`, it would be nice to have docker images that have both full framework and a .net core runtime + SDK installed.

[2017-02-16 13:15] dasMulli commented on #208
(Related to https://github.com/dotnet/sdk/issues/335 since just adding mono on top of an ubuntu image doesn't work)

[2017-02-16 18:55] jzoss opened #210 "Changing home directory path causes a path error during debugging."
## Steps to reproduce the issue
1. Set your environmental variable HOME variable to some (E.G. C:\Home
2.  Start a new project in VS2017.. add docker support
3. Try to Debug.

## Expected behavior

It should start debugging.

## Actual behavior

Debugging does not start .. you get

Starting: "docker" exec -i 4da16cb49137 /clrdbg/clrdbg --interpreter=mi
rpc error: code = 2 desc = oci runtime error:

[2017-02-20 19:27] MichaelSimons commented on #210
@SteveLasker, this looks like a VS 2017 related issue.  Can you have someone on your side take a look at this?  On a related note did you get a location setup where VS related issues like this should be logged?

[2017-02-21 15:07] MichaelSimons commented on #208
@dasMulli, have you considered creating your own image based on https://hub.docker.com/r/microsoft/dotnet-framework/ which adds .net core runtime + SDK?  The concern with adding more image variants on top of what already exists is that we already have issues with the number of image variants and people are having difficulties discerning which image is appropriate for their scenario.  We will conti

[2017-02-21 15:07] #208 closed

[2017-02-21 15:45] dasMulli commented on #208
@MichaelSimons yes, just felt that this should be a first-party image (windows server updates, tooling releases etc.).
So just consider it a +1 for that image type ;)

[2017-02-21 18:46] dazhao-msft commented on #210
@jzoss , this is because docker-compose will honor %HOME% over %USERPROFILE% when resolving ~ in docker-compose files.

The workaround for now is either not setting %HOME% on your box, or using {USERPROFILE} directly in the paths in your docker-compose files.

We're getting rid of ~ in the paths in vNext, which should be able to fix this problem. Thanks for reporting the issue.

[2017-02-21 18:56] MichaelSimons commented on #210
Closing issue as this issue is specific to the VS Docker tooling and not directly related to the microsoft/dotnet Docker images.  Per @dazhao-msft [comment](https://github.com/dotnet/dotnet-docker/issues/210#issuecomment-281438427), this is already being tracked with their vNext work.

[2017-02-21 18:56] #210 closed

[2017-02-21 21:14] MichaelSimons commented on #175
@luis-echegaray, What version of the SDK do you have locally?  What does your csproj look like?  Curious if it works if you use the latest sdk image - `1.1.0-sdk-msbuild-rc4`

[2017-02-23 06:21] glennc commented on #208
@MichaelSimons I agree. I really should do some more implementation and less talking :)

[2017-02-23 19:56] bartekmp opened #211 "Unable to run VS project on Docker due to issue with PrepareForLaunch task"
I am having trouble with launching .NET Core project on Docker container. When I try to launch even the default, basic ASP.NET Core project, it fails.

I can see that the issue is related to the name of user directory on my Windows - it's something like "User Name", with a space in the middle. I possibly could fix that issue just with putting the GetClrDbg.ps1 path into quotes but it's not that ea

[2017-02-26 21:25] samuelcavendish commented on #175
@MichaelSimons Also reproduced this using the `dotnet new reactredux` project. Using `1.1.0-sdk-msbuild-rc4` did indeed fix the issue for me!

[2017-02-27 15:24] MichaelSimons commented on #211
@dazhao-msft, @SteveLasker - this looks related to VS Docker Tooling.  Can you please respond?

[2017-02-27 20:46] kendrahavens opened #212 "Create tag-details.md"
## Create tag-details.md

### Benefits of adding tag-details.md
* Help provide more info on the breakdown of what is in each Docker image
* Help explain the naming conventions behind tag schema
* Other repos use this solution to help new users understand their repo

[2017-02-28 01:02] MichaelSimons commented on #212
This should be done for both dotnet-docker as well as dotnet-docker-nightly.

[2017-03-01 13:37] OKthomasandresen commented on #175
I got it to work by changing the following in the Dockerfile

RUN ["dotnet", "restore"]
RUN ["dotnet", "build"]

to

CMD ["dotnet", "restore"]
CMD ["dotnet", "build"]

[2017-03-02 18:42] natemcmaster opened #213 "Don't warm up nuget cache from dotnet-CLI"
Caused by https://github.com/dotnet/cli/issues/5897

The NuGet cache in the docker images have the incorrect sha512 file. This prevents the optimization cache from working correctly.

Workaround: warmup the nuget cache from nuget.org instead.
[code]

cc @MichaelSimons

[2017-03-03 19:12] himadrinath commented on #211
same problem for me

[2017-03-04 02:25] loune commented on #175
Also had the same issue. Using `dotnet:1.1-sdk-msbuild` instead of `dotnet:1.1.0-sdk-msbuild` fixed it.

[2017-03-06 19:13] #204 closed

[2017-03-07 04:47] richlander commented on #175
New images were published today. Not the new scheme for image tags.

[2017-03-07 17:13] natemcmaster opened #216 ".net core app in docker container fails"
_From @syned on March 7, 2017 14:35_

dotnet --version
1.0.0-rc4-004771
---------------------------

Dockerfile
FROM microsoft/dotnet:runtime

COPY out .
ENTRYPOINT ["dotnet", "app.dll"]
---------------------------

docker build -t app .
docker run -it --rm app

Publish
dotnet publish -o out -r ubuntu.16.04-x64

Error:
Failed to load /libhostpolicy.so, error: /usr/lib/x86_64-linux-gnu/libstdc++.so

[2017-03-07 17:25] MichaelSimons commented on #216
@syned, It is not clear on what the repo steps are for your issue.  Can you clarify?  What are the steps you are using to build your Dockerfile and run a container?  At what point are you encountering the error?

The one thing I noticed in the information you included is that you are publishing your app for `ubuntu.16.04-x64`.  The `microsoft/dotnet:runtime` image is based on Debian Jessie.  If yo

[2017-03-07 17:57] syned commented on #216
@MichaelSimons the error happens when I run the container. I will try with debian.8-x64.

[2017-03-07 23:05] MichaelSimons commented on #213
Closing - a workaround will not be added to the microsoft/dotnet Dockerfiles.  We will wait for the product teams to fix this issue.

[2017-03-07 23:05] #213 closed

[2017-03-08 00:02] dazhao-msft commented on #211
This is a known issue in VS 2015. We have fixed the issue in VS 2017, which just got released RTW today: https://www.visualstudio.com/.

Besides that, we have improved the Docker tools for Visual Studio significantly in VS 2017. I'd suggest you move to use VS 2017 instead.

[2017-03-08 00:06] bartekmp commented on #211
Thanks for letting us know that it's fixed in new version of VS. However I'm not interested so far in switching to VS2017, as I find VS2015 stable and I'm not responsible for updating my computer's software. Please, tell me, is this really so huge deal to not to make it work on VS2015?

[2017-03-08 00:18] dazhao-msft commented on #211
There won't be any update for VS 2015 any more since VS 2017 just got released.

Try this as a workaournd in a PowerShell command line:

[code]

Once the clrdbg is in place, VS will skip downloading it again next time.

[2017-03-08 14:22] MichaelSimons commented on #211
Closing per @dazhao-msft comments.

[2017-03-08 14:22] #211 closed

[2017-03-09 01:40] richlander opened #217 "Docker Tag Naming and Versioning"
.NET Core Docker images have multiple variants, of both kind and version. It is important to use an intuitive scheme to name these image variants so that users can reason about their differences without extensive documentation or other forms of decoder rings. This document defines that scheme.

## Basic Form

The most basic form of .NET Core tags follows:

- [runtime-version]-[image-type]

The fol

[2017-03-09 14:28] SteveLasker commented on #211
@bartekmp, we do appreciate your concern the ownership and impact of change.
Please see this post for how we're thinking about container tooling:
https://blogs.msdn.microsoft.com/stevelasker/2016/11/22/visual-studio-docker-tools-support-for-visual-studio-2015-2017/

[2017-03-09 14:50] syned commented on #216
@MichaelSimons I've updated everything to the latest version and removed runtimes at all and everything is working fine. Thank you for helping me!

[2017-03-09 14:56] MichaelSimons commented on #216
@syned - Glad to hear everything is working for you!  Closing issue.

[2017-03-09 14:56] #216 closed

[2017-03-09 22:24] MichaelSimons opened #218 "Add Dockerfile labels from label-schema.org"
_Copied from https://github.com/dotnet/dotnet-docker/pull/207_
cc @paulbouwer

There is a drive from some within the container community towards a standard label schema for container images.

There are some blog posts that discuss this:
- [Building agreement around Docker labels](https://puppet.com/blog/building-agreement-around-docker-labels)
- [MicroBadger - helping you manage your containers](h

[2017-03-09 22:24] MichaelSimons commented on #218
While these labels have the potential to be very useful, it doesn't look like they are widely adopted at the moment. For example official images for other development platforms haven't adopted these yet such as GoLang, Node, Java, etc. Furthermore there appears to be some inconsistency in which labels are being used. I am going to close this PR but that is not to say we will not add the labels. We

[2017-03-13 01:30] PRIMETSS opened #219 "Not killing process on CTRL-C shutdown"
## Steps to reproduce the issue
1. docker microsoft/dotnet latest image
2.Build Web app, dotnet new mvc, dotnet restore, dotnet build
3.Run app dotnet run
4. Now listening on: http://*:5000 Application started. Press Ctrl+C to shut down.
5. Browse to app (displays web site)
6. Hit CTRL-C
7. root@30ff962dac9b:/usr/mvc# Application is shutting down...
9. Edit Program.cs with nano editor, (insert spa

[2017-03-13 22:56] ozitraveller commented on #211
I'm using VS 2017 and I'm getting MSB4018	The "PrepareForLaunch" task failed unexpectedly.

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4018	The "PrepareForLaunch" task failed unexpectedly.
Microsoft.DotNet.Docker.CommandLineClientException: Creating dockercompose1767308851_ms.smartreports.reportname_1
ERROR: for ms.smartreports.reportname  Cannot start service testproje

[2017-03-14 00:03] dazhao-msft commented on #211
@ozitraveller , this is typically caused by volume sharing of Docker for Windows not working properly. Can you try resetting credentials and re-enable the shared drives?

[2017-03-14 00:06] ozitraveller commented on #211
awesome dazhao thanks fixed.

[2017-03-14 13:10] geoffpatehutch opened #220 "Is it possible to run dotnet-docker based containers with memory limits?"
I'm trying to use a dotnet-docker based container in a limited memory environment. I am passing --memory 134217728 (128MB) and --memory-swap=0 on the docker command line via DC/OS running on Ubuntu in the Azure Container Service.

The problem I have is that the .NET garbage collector is not doing what I expect. I have a simple timer that reloads data from a database creating small amounts of garba

[2017-03-14 14:54] richlander commented on #220
Good question. We have talked about this and I can see why it would be a good idea. We will look into it. I expect we have some tests that will re-create this situation so that we can validate it ourselves.

/cc @maoni0 @MichaelSimons @glennc @kendrahavens

[2017-03-14 16:05] MichaelSimons commented on #219
@PRIMETSS, Thanks for logging this issue.  As a workaround I noticed if you run using the host (e.g. `dotnet bin\Debug\netcoreapp\myApp.dll`) the issue will not reproduce.

Closing since this is an ASP.NET Core issue being tracked with https://github.com/aspnet/Hosting/issues/960.

[2017-03-14 16:05] #219 closed

[2017-03-14 16:23] geoffpatehutch commented on #220
Just a little more info - I ran the same container with increased memory allocation (2GB), and the memory climbed steadily until it hit 160MB. At that point there was a big drop back down to ~86-88MB and it has stayed there since. Not sure why 160MB would be a magic number, but thought it might be of some use in your investigations!

[2017-03-16 17:34] MichaelSimons commented on #220
FWIW I created a simple .NET Core console application that continuously allocates memory (arrays of string).  As I run it in a container and monitor it with `docker stats` it seems to behave as I suspect.  By that I mean if I hold onto the references, the memory usage will continue to grow until it hits the hard limit set by `--memory` (w/`--memory-swap=0`) and will automatically get killed by Doc

[2017-03-16 18:42] Maoni0 commented on #220
handling limited memory situation on Linux is something that @rahku is [currently working on](https://github.com/dotnet/coreclr/pull/10064). however, could we please first make sure it is the GC that would help in this case, ie, it's memory on the GC heap that keeps growing, not due to something else. You could either induce a GC yourself, or use sos to look at the GC heap. If it's indeed the GC h

[2017-03-16 18:47] rahku commented on #220
It will be super helpful if you could try changes in PR https://github.com/dotnet/coreclr/pull/10064 and provide feedback if this works as you would expect it to behave.

[2017-03-16 20:22] geoffpatehutch commented on #220
I tried adding a call to GC.Collect and the problem disappeared which led me to believe it was a GC problem. I'm happy to try @rahku 's change - how would I go about doing that? At the moment I build my container using "FROM microsoft/dotnet:1.1-runtime". Is there an alternative image base somewhere I can use to incorporate these changes?

[2017-03-16 22:28] Maoni0 commented on #220
@rahku could you please help @geoffpatehutch with getting a current build to try (or whatever that's easier for him to invoke your changes)?

[2017-03-16 22:58] rahku commented on #220
@geoffpatehutch the changes are in .net core 2.0 which is not released yet. Easiest way to try this would be to wait for the PR to merge and then you can get setup files to install from core-setup repo. I should be able to merge this early next week.

[2017-03-16 23:18] MichaelSimons commented on #220
@geoffpatehutch, Once this gets checked in and picked up by CLI, you can use the microsoft/dotnet-nightly:2.0-sdk image from the [dotnet-nightly](https://github.com/dotnet/dotnet-docker-nightly) repo to verify the change.

[2017-03-25 20:12] charlesmilette opened #223 "Provide an ARM version of the container"
## Steps to reproduce the issue
1. Try to run the container on a ARM device, such as a Raspberry Pi

## Expected behavior
Offer me an ARM package somewhere I can use.

## Actual behavior
The docker app will fail with the error `standard_init_linux.go:178: exec user process caused "exec format error"`. That's expected since this is an x86 package and not an ARM package. It shouldn't be a problem to

[2017-03-25 23:53] richlander commented on #223
We will do this with .NET Core 2.0. .NET Core is not at production quality yet for ARM32. First, we'll provide images at microsoft/dotnet-nightly. After we've gotten decent feedback on that and the ARM32 version is passing all functional, performance and reliability tests, we'll migrate the image to microsoft/dotnet.

At present, there are only builds of .NET Core for the runtime for ARM32. There

[2017-03-26 02:09] charlesmilette commented on #223
No, not really. I installed docker only because my distro didn't offer a dotnet package.

[2017-03-26 05:52] richlander commented on #223
I see. Docker doesn't really solve this problem. It requires that the software already be available. No developer platform is Docker only and Docker images are primary for X64.

I'm assuming that the platform you want .NET Core for is Arch Linux. Yes? https://archlinuxarm.org/

Try one of the ARM32 builds here: https://github.com/dotnet/core-setup#daily-builds. They might work.

[2017-03-27 19:37] rahku commented on #220
@geoffpatehutch could you try the nightly container images. It has my changes now.

[2017-03-28 06:05] Franklin89 opened #224 "Unable to start debugger"
I looked at this  #162 and tried the solutions that were mentiontioned. But I am still unable to debug my docker project.

Output shows:
[code]

## Steps to reproduce the issue
1. Open VS 2017 Community Edition
2. Create new ASP.NET Core Web App
3. Debug with Docker

## Expected behavior
Should run app in container and allow breakpoints, etc.

## Actual behavior
It prompts with error mentioned abo

[2017-03-28 06:59] Franklin89 commented on #224
Thanks to [this](https://developercommunity.visualstudio.com/content/problem/16774/docker-error-when-running-aspnet-core-11-web-app.html) post i found the problem.

If you have set the **$HOME** variable to a custom path that does not match **%userprofile%** you could end up with this error. In my case i set HOME to a different location to make it easier for me to work with bash. But this create a

[2017-03-28 06:59] #224 closed

[2017-04-04 11:44] damtur opened #225 "Reponse time for HttpClient for POST requests are very slow due to old libcurl."
## Steps to reproduce the issue
1. Test performance of simple .NET Core app in Linux (with libcurl 7.38) https://github.com/damtur/dotnetcore-post-bug
2. Test the same application in Docker image (with libcurl 7.53.1) provided in https://gist.github.com/damtur/3519cb6e74ed570c8b4bbb5baddc86fe#file-dockerfile

## Expected behavior

Response time in Linux should be similar to windows and be around 1

[2017-04-04 18:32] MichaelSimons commented on #225
See related discussion in https://github.com/dotnet/corefx/issues/13551

[2017-04-07 15:16] damtur commented on #225
Workaround for that issue:
Use Dockerimage with libcurl >=  7.50.2. image: https://gist.github.com/damtur/3519cb6e74ed570c8b4bbb5baddc86fe

Another note:
In .Net Core 2.0 the issue is solved.

More info:
https://github.com/dotnet/corefx/pull/16895
https://curl.haxx.se/libcurl/c/CURLOPT_TCP_NODELAY.html

[2017-04-07 17:34] aribeironovaes commented on #223
Hi @richlander ,
Do you have an update on this? Do you know if somebody was able to install a docker image with .NET Core 2.0 on raspberry pi?
Thanks!

Angelo Ribeiro.

[2017-04-07 18:47] MichaelSimons commented on #225
As noted in other threads, this issuse has been fixed in the next release (2.0) - https://github.com/dotnet/corefx/pull/15354/files and has been back ported to 1.1 - https://github.com/dotnet/corefx/pull/16895.  Docker images will be available with the fix when the next version is released.

[2017-04-10 11:45] TAGC commented on #223
@aribeironovaes and others, apparently @nrandell created a Docker image with .NET Core 2.0 for RPis: https://github.com/sceneskope/PiDotnet

[2017-04-15 10:44] jchable opened #228 "SDK preview image missing"
## Steps to reproduce the issue
1. Find a preview image by clicking on the Preview link on the welcome page
2. Having a 404 error because the folder doesn't exist

## Expected behavior
=> Download sdk 2 preview docker image

## Actual behavior
=> 404 error page

[2017-04-15 23:57] jchable commented on #228
Even if the link is dead, we can find the SDK preview Docker image at : https://github.com/dotnet/dotnet-docker-nightly

[2017-04-18 19:59] roederja2 opened #229 "dotnet restore tries to access /.nuget/NuGet/NuGet.Config"
## Steps to reproduce the issue
1.  Use the dotnet:1.1.1-sdk image to build a dotnet project with Jenkins on Linux.
2. Start off the build with dotnet restore --configfile NuGet.Config in the directory with the solution

## Expected behavior
Restore works

## Actual behavior
[code]

## Additional information (e.g. issue happens only occasionally)
I think this can be fixed by creating the path in t

[2017-04-21 14:55] MichaelSimons commented on #228
@jchable, thanks for bringing this issue to our attention.  I am going to re-open this issue as the broken link should be fixed.

[2017-04-21 16:50] MichaelSimons commented on #229
roederja2, can you check if Jenkins is running the image with a specific user e.g. `docker run -u <XXX>`?  I recall Jenkins does this by default.  The behavior you describe is what I see if you run a dotnet image with a non-root user.  To workaround this you can run as root user `e.g don't specify the -u option or use -u 0` or you can set the HOME variable to a directory the current user has acces

[2017-04-21 17:19] roederja2 commented on #229
Hi,
you are right Jenkins runs the image as a non-root user. I built an image that contains a config file at that location to fix this. I also mounted directories for the cache and packages directory to speed up the build. Nuget restore is insanely slow without the cache (even compared to running with an empty cache).

This should probably be documented somewhere. And yes agree that nuget should b

[2017-04-21 19:09] MichaelSimons commented on #229
I believe NuGet's semantics are that any custom config is composed on top of the global config.

Ideally it would be nice if the experience would just work in this scenario, perhaps by building a package cache in the local directory.  Alternatively, the user experience could guide users down the path to how to either setting up the correct permissions or instruct you how to configure NuGet to use

[2017-04-21 19:12] MichaelSimons commented on #229
Moved to https://github.com/NuGet/Home/issues/5106.  Please continue the conversation on it.

[2017-04-21 19:12] #229 closed

[2017-04-25 09:43] SrivatsaMarichi commented on #211
I'm using VS 2017 and I get this error when I run too.

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB4018	The "PrepareForLaunch" task failed unexpectedly.
Microsoft.DotNet.Docker.CommandLineClientException: Building partsunlimitedwebsite
Service 'partsunlimitedwebsite' failed to build: expected HTTP 206 from byte range request.

For more troubleshooting information, go to

[2017-04-25 13:18] eld1887 opened #231 "project.assets.json not found"
Hi,
I try to run dotnet in a docker container. So i created a project on osx (with Rider from Jetbrains).
I have a docker-compose file and a dockerfile. If i build the container, evrything is fine, but if i want to start up the dockerfile, i get an error message:

/usr/share/dotnet/sdk/1.0.1/Sdks/Microsoft.NET.Sdk/build/Microsoft.NET.Sdk.targets(92,5): error : Assets file '/Users/eld/Documents/das

[2017-04-25 13:46] #228 closed

[2017-04-25 14:52] MichaelSimons commented on #231
@eld1887, Is IdentifyServer a project referenced from your Dockerized project?  If so it needs to be accessible within the Dockerfile.

On a related note, is there a reason that you do not build your app as part of the Dockerfile?  When you use `ENTRYPOINT ["dotnet", "run"]`, the app is not built until you run the Docker image.  This is not efficient because if you run the Docker image multiple ti

[2017-04-25 16:12] eld1887 commented on #231
Thanks for your help and your modified dockerfile.
but if i run it i get after:
RUN dotnet publish -c Release -o out the following execption (whats the same error msg as before):

/usr/share/dotnet/sdk/1.0.1/Sdks/Microsoft.NET.Sdk/build/Microsoft.PackageDependencyResolution.targets(154,5): error : Assets file '/Users/andreas/Documents/dashboard/IdentityServer/IdentityServer/obj/project.assets.json

[2017-04-25 20:03] MichaelSimons commented on #231
The Dockerfile pattern I suggested was an orthogonal suggestion, I didn't intend to imply it would fix this issue.

Is IdentifyServer a project referenced from your project?  Can you share you csproj file?

[2017-04-26 13:08] eld1887 commented on #231
ah ok thanks for the hint.
IdentityServer is the name of my project folder or what do you mean with : referenced from my project? (sorry i´m new to docker)
My identityServer.csproj file:

[code]
I hope it can help you.
Thanks in advance

[2017-04-26 14:11] MichaelSimons commented on #231
Try adding a `.dockerignore` file next to your Dockerfile that contains
[code]

Alternatively you can delete these local directories prior to running `docker build`.

[2017-04-27 09:58] eld1887 commented on #231
hi,
i tried it with dockerignore and after i run the dockerfile with a docker-compose file and the command docker-compose build, i get an error message at line: RUN dotnet publish -c Release -o out

[code]

and so on

at the end of the error message:

[code]
it seems that the command `RUN dotnet restore` isn´t executed

[2017-04-27 13:48] MichaelSimons commented on #231
It sure looks like the bin and obj from your local build are still getting pulled into the image when building.  What believe is happening is that when `Step 5` is being run, the bin and obj from your local build are getting copied into the image and overriding the results of `Step 4`.  I see your `Dockerfile` is not in the same directory as your project.  Based on this, the `.dockerignore` I sent

[2017-04-27 15:07] eld1887 commented on #231
thanks for your patience.
Tested it with your new dockerfile and the result is:

[code]

[2017-04-27 15:34] MichaelSimons commented on #231
What is the purpose of the volume in your compose file?  Isn't this overriding what you built in your Dockerfile?

[2017-04-28 07:52] eld1887 commented on #231
normally i used volumes to see the changes at the implementation directly in the container (without restarting the docker container) for a dotnet container its maybe not the best practice.

But if i delete the volumes i get the same error message:

[code]
thanks for your help

[2017-04-28 14:29] MichaelSimons commented on #231
@eld1887 - it is really hard for me to help much more without seeing the source.  If you want to share it with me I would be willing to take a look (msimons is my microsoft.com alias).  Alternatively I would suggest setting up an empty aspnetcore project and Dockerize that.  You could follow the example [here](https://store.docker.com/community/images/microsoft/aspnetcore-build)

[2017-05-01 09:31] tugberkugurlu opened #232 "Cannot find .NET Core SDK 1.0.3 on Docker"
I have installed .NET tooling for Mac from https://www.microsoft.com/net/core#macos and I have ended up with v1.0.3 SDK:

[code]

I can only see SDK v1.0.3 installed, nothing else:

[code]

When I try to use the docker image `microsoft/dotnet:sdk` or `microsoft/dotnet:1.0.4-sdk` or `FROM microsoft/dotnet:1.1.1-sdk`, I don't happen to get SDK v1.0.3.

[code]

and there doesn't seem to be a tag for

[2017-05-02 09:41] eld1887 commented on #231
Hi Michael,
i can only repeat me: Thanks for your help.
i tried the example and i get the same error. Its builds correctly, but at starting up i get an error:

[code]

My procedure:
created a project with JetBrains Rider
add docker-composer.yml
and add a docker file.
thats it.

How can i send you my code? via email? which code you want? is my empty project enough?
greetings

[2017-05-03 20:21] mark-grimes opened #233 "Build doesn't notice file changes if the work directory is mapped from a host directory"
## Steps to reproduce the issue
1. On Windows with docker toolbox (version details below)
2. `host> docker run -it -v someLocalDirectory:/dotnetTest microsoft/dotnet:latest`
3. `container> cd /dotnetTest`
4. `container> dotnet new console -o consoleTest`
5. `container> cd consoleTest/`
6. `container> dotnet restore`
7. `container> dotnet run`
`Hello World!`
8. Edit Program.cs to change the output

[2017-05-04 12:40] eld1887 commented on #231
can be closed. I done it myself.
Thanks for your help

[2017-05-04 13:31] MichaelSimons commented on #231
Great news.  Care to elaborate on what the problem/solution was?  Someone else may benefit for your learning.

[2017-05-04 13:31] #231 closed

[2017-05-04 15:34] eld1887 commented on #231
i restructured my project and clone the project folder with volumes at the docker-compose.yml to the container. At the dockerfile i use a shellscript and in this script i work with dotnet commands and the exact locatioin of my .csproj

example: dotnet restore /app/project.csproj

[2017-05-04 16:29] MichaelSimons commented on #232
The latest LTS release is 1.0.4.  You can see the released versions [here](https://github.com/dotnet/core/tree/master/release-notes/download-archives).  You can install multiple SDKs side by side.

[2017-05-04 16:36] tugberkugurlu commented on #232
Thanks! So, is it the case that https://www.microsoft.com/net/download/core is not updated? I am getting 1.0.3 SDK there, not 1.0.4.

[2017-05-04 16:49] MichaelSimons commented on #233
@mark-grimes, Can you clarify step 8?  I assume you are editing the file on the host and not within the container.  Is that correct?  I am unable to reproduce this issue by modifying the source within the container or on the host.  I tried this on a 17.03.1-ce and 17.05.0-ce-rc1 environment.  I noticed you are on a fairly old version of the docker client.  Is it possible to try upgrading your clie

[2017-05-04 17:48] mark-grimes commented on #233
Step 8 was just do anything that makes a noticeable change to program execution, in this case change the text from "Hello World!" to "Foo Bar!".
I started getting some errors this morning from other tools (AWS CLI stuff) about clock skew - need to check the container clocks are synching properly with the host.  I could understand that causing the problem except that the source files are compiled (

[2017-05-04 17:57] MichaelSimons commented on #233
Regarding Step 8 I was asking specifically if you were modifying the file directly within the container or from the Docker host machine.

[2017-05-05 19:51] Jonathan34 opened #234 "Image for .netcore 2.0"
Hi,

It seems image for .net core 2.0 are not available yet. It is an useful if one wants to test the deployment without messing up with its environment. Especially since .net core 2.0 will soon be in preview

[2017-05-05 21:25] natemcmaster commented on #234
@Jonathan34 you can try pre-release images here: https://hub.docker.com/r/microsoft/dotnet-nightly/.

[2017-05-05 22:08] Jonathan34 commented on #234
Great, thanks! Might be a good idea to add a link in the main page :)

[2017-05-08 16:11] mark-grimes commented on #233
Step 8 was originally modifying on the host, but I also get the same problem modifying directly in the container.

I upgraded the client but still the same problem. `docker version` now reads
[code]

It's not clock skew. I've checked the time stamps and the modified `Program.cs` is more recent than anything in `obj` or `bin`.
For anything other than trivial projects I have to use rsync to copy cha

[2017-05-08 16:24] mark-grimes commented on #233
By the way, the host filesystem is NTFS in case that makes a difference.  For `docker inspect` on the container I get:
[code]

[2017-05-08 16:43] Jonathan34 commented on #234
So I tried the dotnet-nightly but it seems the 2.0 sdk is not included in the `*-sdk` images (nor the latest):
[code]

[2017-05-08 16:52] natemcmaster commented on #234
The dotnet-nightly images contain 2.0.0-preview1 bits. See https://github.com/dotnet/dotnet-docker-nightly/blob/master/2.0/sdk/jessie/Dockerfile#L20.

[2017-05-08 19:56] Jonathan34 commented on #234
I see, i thought it would point the latest. Preview 1 is fine.
although
[code]

[2017-05-08 22:44] Jonathan34 commented on #234
And I think i understand why this warning appears and prevents my test to run:
the nuget/myget feed does not contain the package provided in your docker image:
https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App

So nuget automatically tries to find the closer package `2.0.0-preview2-002062-00`.
So I do not have any solution for this to work with your image it seems...

A

[2017-05-08 22:46] natemcmaster commented on #234
@Jonathan34 can you share your csproj?

[2017-05-08 23:22] Jonathan34 commented on #234
My nuget.config
[code]

my test csproj
[code]

[2017-05-09 17:51] natemcmaster commented on #234
The problem is your `RuntimeFrameworkVersion` property. This should correspond to the version of Microsoft.NETCore.App you want to use. Because there is no package with version `2.0.0-preview1-005957-00`, NuGet is rolling you forward to preview2, as you previously mentioned.

This fix: remove this property. The SDK will automatically use the version of Microsoft.NETCore.App that is bundled in the

[2017-05-09 18:19] Jonathan34 commented on #234
@natemcmaster thanks, i confirm it works without it... i was just following the dogfooding for .net 2.0: https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md#option-1-framework-dependent

[2017-05-09 22:37] natemcmaster opened #237 "NuGetFallbackFolder adds unnecessary bloat to build containers"
In .NET Core 2.0, the CLI started shipping a feature that adds an offline package feed called the NuGetFallbackFolder. This adds unnecessary bloat to SDK images in the following ways:

 - ~660 MB of xmldocs are stored in `~/.dotnet/NuGetFallbackFolder`. xmldocs are unnecessary in build images.
 - first run of dotnet-restore creates about 5,700 duplicate files which adds about 326 MB. This duplicat

[2017-05-09 23:15] emgarten commented on #237
That is the behavior you would see from a source. Fallback folders are always read directly. This is just due to the temporary workaround in the CLI to use the fallback folder as a source, right?

Long term to solve this I'd like to see either a dotnet or NuGet command that takes a set of project.assets.json files and prunes out all unneeded files from the package folders. This would include assem

[2017-05-09 23:38] natemcmaster commented on #237
@emgarten is this just a preview1 limitation that will be fixed before 2.0.0 RTM?

Also FYI the `~/.dotnet/NuGetFallbackFolder` on Linux takes up about 1.0 GB.

[2017-05-10 02:14] emgarten commented on #237
That is the current goal

[2017-05-10 15:03] tmds commented on #237
Does this help?
[code]

[2017-05-10 15:07] natemcmaster commented on #237
The images already set NUGET_XMLDOC_MODE=skip, but it's not honored by the first-time experience. If we decided to disable the offline package cache, setting DOTNET_SKIP_FIRST_TIME_EXPERIENCE is the best way to do that.

[2017-05-10 15:35] tmds commented on #237
Is the '/opt/dotnet/store' also used during `dotnet restore` to avoid duplicating those packages to `~/.nuget/packages`?

[2017-05-10 16:11] natemcmaster commented on #237
If you meant `/usr/share/dotnet/store`, that is the runtime store feature that's new to 2.0. These are a subset of files from the `~/.nuget/packages` folder that have been crossgened for faster boot time, similar to the "optimization cache" feature in .NET Core 1.x.  The subset doesn't include all assets required to build an app.

[2017-05-10 17:10] tmds commented on #237
Ah. So this doesn't get used by `dotnet restore` and the sdk image won't contain a store since it would only bloat the image.

[2017-05-11 17:40] AnthonyMastrean commented on #225
Is there a schedule or any indication when the next 1.1 Docker image will be published?

[2017-05-11 18:20] MichaelSimons commented on #225
.NET Core 1.1.2 was just released yesterday including new docker images.  Please give them a try.

[2017-05-11 18:20] #225 closed

[2017-05-11 18:26] AnthonyMastrean commented on #225
Doesn't appear to be included. https://github.com/dotnet/corefx/issues/19658#issuecomment-300863362

[2017-05-11 18:35] MichaelSimons commented on #225
The [fix](https://github.com/dotnet/corefx/pull/15354) is in microsoft/dotnet:1.1.2-runtime image.  Note the fix was not to upgrade the libcurl dependency, rather it is to set `CURLOPT_TCP_NODELAY`.

[2017-05-12 00:54] djroughhouse commented on #211
I had this issue in VS2017, it was as @dazhao-msft said, the drive share was not enabled in the Docker for Windows settings.

[2017-05-15 20:21] MichaelSimons commented on #234
Per @natemcmaster the https://hub.docker.com/r/microsoft/dotnet-nightly/ can be used to get the latest version of .NET Core before it is released.  Additionally .NET Core 2.0 preview 1 has been released therefore images are available on https://hub.docker.com/r/microsoft/dotnet/

[2017-05-15 20:21] #234 closed

[2017-05-16 19:55] MaximRouiller commented on #22
Just pinging the old thread to see if we could have a good ol' status update. :smile:

[2017-05-16 19:58] RTodorov commented on #22
Looking very much forward to it! It would be a huge improvement for those running dotnet core on Linux.

[2017-05-16 20:52] MichaelSimons commented on #22
While progress is being made on Alpine, it is not yet an [officially supported OS](https://github.com/dotnet/core/blob/master/roadmap.md#supported-os-versions).

[2017-05-16 21:25] kendrahavens opened #239 ".NET Core Docker images will move to multi-arch based tags"
## Summary
Docker has a [multi-arch feature]( https://github.com/moby/moby/issues/15866) that [microsoft/dotnet-nightly]( https://hub.docker.com/r/microsoft/dotnet-nightly/) recently started utilizing.  The plan is to port this to the [official microsoft/dotnet repo]( https://hub.docker.com/r/microsoft/dotnet/) shortly.  The multi-arch feature allows a single tag to be used across multiple machine

[2017-05-16 21:35] galvesribeiro commented on #239
First, thanks to @TerribleDev for remind that it was in the announcement repo, and sorry to all others being spammed. I though I was in the proper repo because the thread wasn't closed. Sorry my bad. (@kendrahavens forgot to lock it 😄 )

But in all cases, even being easy to create a Dockerfile, you will eventually get tons of questions asking "how to create a Windows Server Core with .Net Core ima

[2017-05-16 21:39] kendrahavens commented on #239
Sorry, folks. Locking the conversation in the announcements repo let's us limit the notifications subscribers get there.

Thank you @galvesribeiro! I agree, we should make it an easy scenario to use. We are working with the VSTS team now to make a full .NET framework "build" image that would have msbuild, .NET Core sdk, and common assembly references to help with the monolithic scenarios you menti

[2017-05-18 13:26] #99 closed

[2017-05-22 17:51] PawLove opened #243 "Unable to start debugging Docker container"
Hi! I'm trying out the Visual Studio 2017 Community and ASP.NET Core web app and get a prompt stating "Unable to start debugging. Unable to establish a connection to VSDBG. Debug output may contain more information."

Output Windows shows the following:

Starting: "docker" exec -i dd11077d4248 /clrdbg/vsdbg/vsdbg --interpreter=mi
rpc error: code = 2 desc = oci runtime error: exec failed: container

[2017-05-22 17:55] MichaelSimons commented on #243
@PawLove, Would you mind closing this issue and opening a new one at https://github.com/Microsoft/DockerTools?  This repo is just for the microsoft/dotnet Docker images.  We are trying to keep the tooling issues separate.  Thanks

[2017-05-22 20:11] MichaelSimons opened #244 "Add a link to the microsoft/dotnet-nightly repo to the README"
People are not discovering the microsoft/dotnet-nightly repo when wanting to try out the latest builds of .NET Core.  [Here ](https://github.com/dotnet/dotnet-docker/issues/234#issuecomment-299587098) is one such example.  To alleviate this issue, a link should be added to the README.

[2017-05-23 04:24] #243 closed

[2017-05-23 13:44] MichaelSimons commented on #243
Linking to related DockerTools issue - https://github.com/Microsoft/DockerTools/issues/17

[2017-05-24 13:57] #244 closed

[2017-05-29 19:35] mrnickel commented on #22
I'd like to add my voice to the chorus of people requesting alpine support for .NET.

Loving this support team! Keep up the good work!

[2017-06-01 00:38] skbergam commented on #22
Yes this would be a great addition.

[2017-06-01 21:55] MichaelSimons commented on #220
@geoffpatehutch - did you ever get a change to try this?  2.0 preview images are now also available on microsoft/dotnet.

[2017-06-05 08:36] geoffpatehutch commented on #220
I haven't yet as its not quite as simple as tweaking the dockerfile to use the dotnet 2.0 runtime, I need to set some time aside to install the new version and compile with it. I assume you can install 1.1 and 2.0 side by side and just switch targets at compile time?

[2017-06-06 19:34] dagrooms52 commented on #168
Any fix? I'm going through this runaround right now. Unable to do any NuGet operations without the error `SecureChannelFailure`. A `nuget restore` and even the above `nuget update -self` give this error.

[2017-06-08 22:02] #239 closed

[2017-06-08 22:03] #217 closed

[2017-06-09 16:16] MichaelSimons opened #246 "Add validation of packages installed by the Dockerfiles so that they align with the product"
### Summary

The packages that are installed by Dockerfiles are defined independently of what the product's actual dependencies are.  These should be in sync such that if product dependencies are changed in any way, the Dockerfiles will reflect that change.  Today this is a manual process but it can be improved through the work being done in https://github.com/dotnet/core/issues/5651.

### Goal

C

[2017-06-10 09:01] axelbodo commented on #220
there is another issue and a referenced link in github: https://github.com/moby/moby/issues/20688
For our java applications we can temporarily solve the issues by injecting cgroup limit as a variable to use as max heapsize at java commandline. unfortunatelly dotnetcoe doesn't have such an option so their decisions is still based on what is reported by /proc and/or sysinfo, and they reports host re

[2017-06-10 09:15] rahku commented on #220
@axelbodo this is not correct for .net core 2.0. .net core 2.0 reads memory limits for cgroups if they are set.

[2017-06-10 10:04] axelbodo commented on #220
Thanks for the info, we use now netcore 1.1, and I don't know when we are enabled to go to 2.2

[2017-06-11 12:18] DanJ210 commented on #162
I am getting this error when I've already been building a .Net Core Web Application connected to VTFS and published on Azure, this morning I did my normal thing and started coding but when I ran locally I got this error. Below is the only thing in my output window. I'm going to try the powershell command above.

`Starting: "docker" exec -i 7d1a1971b5a0 /clrdbg/vsdbg/vsdbg --interpreter=mi
rpc erro

[2017-06-11 12:27] DanJ210 commented on #162
When I try to run `.\GetClrDbg.ps1 -Version latest -RuntimeID debian.8-x64 -InstallPath "$env:UserProfile\clrdbg"` I am told that `.\GetClrDbg.ps1` is not recognized as the name of a cmdlet. So this solution isn't working for me apparently.

[2017-06-11 12:37] DanJ210 commented on #162
Just to report. Everything above checked out and all I did was click "restart Docker" even though I had already closed it and opened it. Then debugging started working again so I have no idea what the problem was.

[2017-06-12 16:20] NinoFloris opened #247 "Request for daily builds for 2-sdk?"
We're currently stuck waiting for preview 2 as many things that are currently in the develop branch fix problems we have with preview 1.

Currently there is no easy way to run these daily builds in a container, except creating them ourselves.

Would it be possible to weekly/daily publish a container with a 'daily' build of the 2.0 previews?

[2017-06-12 17:02] natemcmaster commented on #247
Have you checked out https://github.com/dotnet/dotnet-docker-nightly?

[2017-06-12 19:11] kendrahavens commented on #220
@axelbodo Yes, .NET Core 2.0 is still in Preview.

[2017-06-12 22:13] malramsay commented on #162
A similar error occurred to me today.  Clicking "restart Docker" as per DanJS10's instructions seemed to fix the problem.

[2017-06-13 09:02] smartouss commented on #162
I had the similar issue, when i restarted docker as DanJS10 mention worked, the problem was docker checkign clrdbg\vsdbg\vsdbg which don't exists, all files are under clrdbg\vsdbg

[2017-06-13 13:40] NinoFloris commented on #247
How I did not find this... :) thanks guys!

[2017-06-13 14:44] #247 closed

[2017-06-14 16:59] aensidhe opened #250 "Move image to debian stretch"
Debian stretch will be [released at June, 17](https://lists.debian.org/debian-devel-announce/2017/05/msg00002.html). I would suggest to move .net core images to debian stretch, because it has newer (and safer) packages like graphicsmagick 1.3.25, not 1.3.20, etc.

Also, it would be new LTS release of Debian.

[2017-06-16 19:56] g0t4 opened #251 "Can we register bash completions for the 2.0+ sdk images?"
The .NET Core 2.0 CLI has command line completion, it would be nice to enable completion for SDK images.

Here are the completion docs: https://github.com/dotnet/cli/blob/master/Documentation/general/tab-completion.md

Here's the registration script: https://github.com/dotnet/cli/blob/master/scripts/register-completions.bash

[2017-06-16 23:43] zafields opened #252 "Consider merging `1.0-runtime-deps` and `2.0-runtime-deps` Dockerfiles"
The Dockerfiles for 1.0 and 2.0 are identical. If they were the same Dockerfile and hosted image, it would make having multiple runtime containers (both v1 and v2) more space efficient, because they would build off the same base.

[2017-06-19 19:17] natemcmaster commented on #250
cc @MichaelSimons @richlander

[2017-06-19 21:14] MichaelSimons commented on #250
@aensidhe, the current plan is to release the 2.0 images based on top of debian stretch.  We already have images available in [microsoft/dotnet-nightly](https://hub.docker.com/r/microsoft/dotnet-nightly/).  We are also in the [midst of making](https://github.com/dotnet/dotnet-docker-nightly/issues/321) these the default images for linux.  Modifying the 1.0 images to be based on stretch seems like

[2017-06-19 21:43] aensidhe commented on #250
@MichaelSimons ok, we can create them ourselves for us. Only one question remains - will VS debugging work with them or not. I think, I should try someday and find out.

[2017-06-20 21:53] MichaelSimons opened #253 "Pipebuild definitions should reference a specific version of pipebuild"
There recently was a regression in the pipebuild tool used for builds.  This caused the docker builds to fail.  The reason the docker builds started failing was because the build definition references the latest version of the pipebuild tool.  This reference should be changed to a specific version.  It should be an explicit action to take a newer version of pipebuild.

[2017-06-21 04:53] richlander commented on #223
We are now actively working on this.

This is our primary blocking issue: https://github.com/moby/moby/issues/33759

[2017-06-21 18:42] MichaelSimons commented on #251
@richlander, @kendrahavens - Thoughts on enabling this in the 2.0 SDK images?  I think it would be useful.  I do have some concerns however with taking a dependency on the registration scripts that are at the source tip versus archived with the build artifacts that we consume in the Dockerfile.  As it stands, it is theoretically possible that the Dockerfile could break if a non-compatible change w

[2017-06-21 19:49] MichaelSimons commented on #251
Found out from the CLI team that story around this feature is not complete.  They are eventually planning on supporting a way to install/register tab completion which will alleviate the concerns I mentioned earlier.  This won't happen until post 2.0.  The recommendation from CLI was to hold off enabling within the official Dockerfiles until the feature is complete.

[2017-06-21 21:16] MichaelSimons commented on #169
@kendrahavens is going to follow up with Rich on whether or not we want this.  It does add complexity and may cause some confusion with latest.

[2017-06-21 21:21] MichaelSimons commented on #218
Closing - will reconsider based on future feedback.

[2017-06-21 21:21] #218 closed

[2017-06-21 21:22] MichaelSimons commented on #220
Closing as this is fixed with .NET Core 2.0

[2017-06-21 21:22] #220 closed

[2017-06-21 21:28] MichaelSimons commented on #237
@emgarten, What is the latest status of the underlying issue?  Can you link to the product issue?

[2017-06-21 21:50] MichaelSimons opened #254 "Adding `<suite>-slim` variant support"
@zafields commented on [Tue Jun 20 2017](https://github.com/dotnet/dotnet-docker-nightly/issues/326)

Can you also provide an image with debian:stretch-slim as the base image, instead of debian:stretch to minimize the image size for both ARM and x64?

You can find more information on the Debian Docker store page (https://store.docker.com/images/debian); specifically under the "`<suite>-slim` varia

[2017-06-22 04:56] richlander commented on #169
Let's skip it. Support levels should be left to docs.

[2017-06-22 04:56] #169 closed

[2017-06-22 05:29] richlander commented on #250
@aensidhe Would be great to learn more about your use case. Mail me at rlander@ms if you'd like to chat.

[2017-06-22 05:31] richlander commented on #254
Given @zafields last reply, I suggest we not opt for `-slim` at this time. I do not feel compelled to adopt `-slim` for x64.

[2017-06-22 05:40] richlander commented on #223
The blocking issue above is now resolved. We're now working on https://github.com/dotnet/dotnet-docker-nightly/pull/328.

[2017-06-22 13:25] MichaelSimons commented on #254
@richlander I agree - as you previously mentioned, we should be concentrating on Alpine for a lightweight alternative.

[2017-06-22 13:25] #254 closed

[2017-06-22 14:27] MichaelSimons commented on #176
With .NET Core 2.0, [we will be providing](https://github.com/dotnet/dotnet-docker/issues/250) Debian Stretch based images which will address this issue.  We have no plans at this time to provide Debian Stretch images for the 1.0 train.  We of course are open to feedback.

[2017-06-22 14:27] #176 closed

[2017-06-22 15:03] omajid commented on #251
Can you share any details? I found out that copying the current bash completion to `/usr/share/bash-completion/completions/dotnet` seems to work fairly well.

[2017-06-22 15:33] zafields commented on #254
@richlander and @MichaelSimons that sounds like the right move, I will definitely be looking forward to your Alpine image, I have some experience making Alpine images and I would be happy to help prototype an image if it would be helpful.

Finally, to bring this full circle, does that mean we can expect a .NET 2.0 Docker image based on `arm32v7/debian:stretch`? If not is there an appropriate place

[2017-06-22 15:41] MichaelSimons commented on #252
Currently if you pull the 1.0, 1.1, and 2.0 tags you will get the same image.

[code]

While there are separate Dockerfiles in the GH repo, they are identical and therefore image caching takes place within the build infrastructure being utilized.  That being said, going forward, the `2.0 runtime-deps` image is changing as it will be based on debian stretch (see #250).

[2017-06-22 15:41] #252 closed

[2017-06-22 15:44] MichaelSimons commented on #254
@zafields - We are working on arm32v7 images for .NET Core 2.0.  See #223.

[2017-06-22 15:47] g0t4 commented on #251
I assume we'll have something like dotnet complete install? Similar to npm
completion?

https://docs.npmjs.com/cli/completion

--
Typed with thumbs and sent with love from Boomerang

----------
On Thu, Jun 22, 2017 at 11:04 AM, Omair Majid <notifications@github.com>
wrote:

Found out from the CLI team that story around this feature is not complete.
They are eventually planning on supporting a way

[2017-06-22 15:49] MichaelSimons commented on #251
@g0t4 - yes that is where CLI would like to get to.

[2017-06-22 16:04] MichaelSimons commented on #232
This issue should have been resolved with the 1.0.5 release.  Please upgrade and let us know if this is still causing issues.

[2017-06-22 16:04] #232 closed

[2017-06-22 18:20] MichaelSimons opened #256 "Official builds periodically fail while cleaning up Docker resources during cleanup"
See https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=820715.  The cleanup tasks in the build definitions should be set to continue on failure.

[2017-06-23 16:09] MichaelSimons commented on #256
This applies to all of the Docker repos, not just dotnet-docker.

[2017-06-23 21:25] MichaelSimons opened #257 "Build definitions should be moved off of the DotNetCore-Test agent pool"
Build definitions should be using a non-test agent pool.

https://github.com/dotnet/dotnet-docker-nightly/blob/master/build-pipeline/dotnet-docker-windows-images.json#L248

[2017-06-26 09:32] axelbodo commented on #220
I've opened a ticket on moby https://github.com/moby/moby/issues/20688, which targets to solve this problem, and I think it can be solved in the official dotnetcore image as well, however it would depend on whether on the host lxcfs is properly setup. It would solve the problem without using cgroup based heap setup in 2.0 Preview, which I think is just half of the solution, as it doesn't reflect c

[2017-06-26 11:23] goforgold opened #258 "Docker image to publish 2.0 project"
## Steps to reproduce the issue
1. I was using `microsoft/dotnet:1.1-sdk-msbuild` before upgrade
2. Now, I've upgraded VS to preview version and upgraded my project to `netcore2.0`.
3. Fixed a few issues during upgrade.
4. Now I try to put `microsoft/dotnet:2.0-sdk-msbuild`

## Expected behavior

Project should build

## Actual behavior

Getting image not found error.

I tried removing `-msbuild`

[2017-06-26 11:54] goforgold commented on #258
Found issue in my pipeline configuration.

I had `-f netcoreapp1.1` parameter in my dotnet publish command. Removing this resolved the issue with build.

Thanks,

[2017-06-26 11:54] #258 closed

[2017-06-26 16:37] #256 closed

[2017-06-27 19:27] #257 closed

[2017-06-28 16:22] MichaelSimons commented on #43
Checksum verification has been added to 2.0 Dockerfiles - https://github.com/dotnet/dotnet-docker/commit/5718313edebd70fa2ec4db35424ce656575be348

[2017-06-28 16:22] #43 closed

[2017-06-28 16:25] MichaelSimons commented on #250
Debian Stretch Dockerfiles have been added for 2.0 (in preview) - https://github.com/dotnet/dotnet-docker/commit/5718313edebd70fa2ec4db35424ce656575be348.  See [announcement](https://github.com/dotnet/announcements/issues/16) for more details.

[2017-06-28 16:25] #250 closed

[2017-07-05 12:51] ErikSchierboom commented on #22
@MichaelSimons I see that you've removed the "blocked dependency" label 14 days, does that mean there is no longer any blocking issue to prevent this from happening? Having a .NET Core Alpine image would be brilliant.

[2017-07-05 13:20] MichaelSimons commented on #22
@ErikSchierboom, I'm sorry but this work is still blocked on official support for Alpine.  The blocked dependency label was removed as dependencies are being tracked differently (on a KanBan board).

[2017-07-05 13:23] ErikSchierboom commented on #22
@MichaelSimons Ah, okay. Is there anywhere that I can track progress being done on that part?

[2017-07-06 05:34] richlander commented on #22
I was talking to @Petermarcu about Alpine support today. My understanding of the status:

- Alpine support _was_ very close.
- Latest [Alpine switched SSL libraries](http://lists.alpinelinux.org/alpine-devel/5463.html) and has slowed our efforts. We have not yet started on this project.

Once this work is done, we will provide Alpine-based container images.

[2017-07-06 05:42] Petermarcu commented on #22
@bartonjs can you confirm the state of crypto libs in the latest alpine version sometime soon?

[2017-07-06 21:47] emgarten commented on #237
@MichaelSimons it is tracked here: https://github.com/dotnet/cli/issues/6507

[2017-07-07 05:38] richlander commented on #253
So, should we make that explicit action?

[2017-07-07 14:14] MichaelSimons commented on #253
Yes - I was planning to make this change the next time I have to touch the build definition.

[2017-07-10 07:43] YvonneArnoldus opened #262 "Cannot pull docker images anymore"
Urgent: Cannot pull docker images anymore

## Steps to reproduce the issue
1. docker pull microsoft/dotnet:1.1.2-sdk

## Expected behavior
Able to to pull the docker image microsoft/dotnet:1.1.2-sdk

## Actual behavior
Received the exception:
 Get https://registry-1.docker.io/v2/: dial tcp: lookup registry-1.docker.io on [::1]:53: read udp [::1]:53162->[::1]:53: read: connection refused

## Additi

[2017-07-10 07:54] YvonneArnoldus commented on #262
After Docker restart it was fixed.

[2017-07-10 07:54] #262 closed

[2017-07-10 15:51] MichaelSimons commented on #253
I just modified all of the docker pipebuild definitions to use an explicit version of the tool.

[2017-07-10 15:51] #253 closed

[2017-07-11 17:56] MichaelSimons opened #264 "CI is taking too long"
As more and more Dockerfiles are created, CI is starting to take a long time and hinder the ability to quickly get a change in (if needed).  Currently CI runs two jobs - windows and linux.  Additional jobs could be created per version of .NET Core.

[2017-07-11 21:22] MichaelSimons opened #266 "Update Runtime usage sample in readme to make use of multi-stage builds."
The Runtime usage sample in the readme is not optimal now that the multi-stage build feature has been released.

[2017-07-17 04:06] ranbuch opened #268 "The command 'dotnet restore' returned a non-zero code: 145"
## Steps to reproduce the issue
1. I've used this repo for my project about 6 months ago (before ```dotnet migrate```):
https://github.com/aspnet/JavaScriptServices
2. For a month and a half now I cannot publish my app with Docker
3. This is my Dockerfile:
[code]

I've tried using all of those docker configurations (and more):

[code]

I've tried using the command ```RUN ["dotnet", "migrate"]``` b

[2017-07-18 17:03] #264 closed

[2017-07-20 14:28] MichaelSimons opened #270 "Remove 2.0 self-contained workaround from utests"
This [workaround](https://github.com/dotnet/dotnet-docker/blob/master/test/run-test.ps1#L127) should be removed from the utests now that the [underlying issue](https://github.com/dotnet/sdk/issues/1331) has been resolved in the product.

[2017-08-01 19:21] MichaelSimons commented on #268
@ranbuch, have you looked at the [dotnet-docker-samples](https://github.com/dotnet/dotnet-docker-samples)?  In your sample, your `RUN ["dotnet", "restore"]` statement seems invalid as there doesn't appear to be a project in the current directory.

[2017-08-01 19:42] ranbuch commented on #268
@MichaelSimons yesterday I've managed to deploy my Docker server currently:
[code]
In my ```csproj``` file the ```RuntimeFrameworkVersion``` is ```1.1.2```.

Regarding the ```package.json```, I had issues that was related with ```angular2-universal``` and ```@angular```version compatibility. That's why I've installed ```npm``` globally on the server.

This is my ```package.json``` file:

[code]

T

[2017-08-01 19:46] MichaelSimons commented on #268
Closing as the issue was resolved.

[2017-08-01 19:46] #268 closed

[2017-08-07 19:26] StefH opened #271 "Feature request : build a microsoft/dotnet:2.0-sdk with mono image"
I want to use the latest **microsoft/dotnet:2.0-sdk** image to build an application which targets `netcoreapp2.0` and `net452`. But this doesn't work because net 4.5.2 cannot be compiled in a **microsoft/dotnet:2.0-sdk** image.

So my request is : can you please create a microsoft/dotnet:2.0-sdk with mono installed image ?

[2017-08-08 22:31] kendrahavens commented on #271
Just to clarify, we don't see publishing and supporting images that include mono as part of our area of focus at this time.

On a side note: what OS are you targeting for this? If you are just interested in running .NET 4.5.2 with the .NET Core sdk you could definitely use the [.NET Framework](https://hub.docker.com/r/microsoft/dotnet-framework/) image and layer .NET Core on it rather than dealing

[2017-08-09 06:47] StefH commented on #271
OK. Clear.

Actually I want to use a docker image to build my project, which supports a lot of frameworks like:\
* net 2.0
* net 3.5
* net 4.0
* net 4.5
* net 4.5.1 / net 4.5.2
* net 4.6 / net 4.6.1 / net 4.6.2
* net 4.7
* dotnetcore 1.0 / dotnetcore 1.1 / dotnetcore 2.0

Is this possible using a existing **nano** image? Or should I create my own ?

[2017-08-09 17:39] kendrahavens commented on #271
There are two different versions of windows containers. There is Nano Server and Windowsservercore. Nano does not work with the full .NET Framework, but Windowsservercore is quite a bit bigger and can run the full .NET Framework. I'd suggest using the Windowsservercore base image for your purposes. We publish .NET Core on Nano images because it is the smallest version of windows containers. The [.

[2017-08-09 17:39] #271 closed

[2017-08-11 20:44] #270 closed

[2017-08-11 20:44] #223 closed

[2017-08-14 06:35] richlander opened #275 "microsoft/dotnet Docker Hub README adopts segmented OS/Arch style"
# microsoft/dotnet Docker Hub README adopts segmented OS/Arch style

The Docker Hub README style used by [microsoft/dotnet](https://hub.docker.com/r/microsoft/dotnet/) and [microsoft/dotnet-nightly](https://hub.docker.com/r/microsoft/dotnet-nightly/) has been updated to use a new model that is segmented by OS and chip architecture.

You can see an example of the new style in the following image.

[2017-08-14 07:44] TAGC opened #276 "Allow building images derived from the ARM dotnet images on x86-based machines"
This builds on #223, which is now done. If possible, I'd like to be able to create images derived from the dotnet Docker images targeting ARM containing modifications such as additional installed packages.

Looking into it, I think this might be possible using a system emulation tool like [QEMU](https://www.qemu.org/).

## Steps to reproduce the issue
On an x86-based machine, like one running Wind

[2017-08-14 13:23] MichaelSimons commented on #276
Are you able to build and run your image based on `arm32v7/debian:stretch` in your environment?

[code]

Your issue doesn't seem to be specific to the microsoft/dotnet images.

[2017-08-14 14:24] TAGC commented on #276
No, that fails in the same way as expected. It's not specific to microsoft/dotnet, I was just hoping they'd provide a way to simplify deployment of .NET Core applications targeting ARM devices from x86-based machines like most people use. I imagine this would be even more necessary for the SDK images when work starts on them.

I can understand if this isn't something that Microsoft wants to focus

[2017-08-14 15:49] MichaelSimons commented on #276
It looks like you are using [Docker Toolbox](https://docs.docker.com/toolbox/overview/) because you are on Windows 7.  I'm not sure this is what "most people use".  Docker considers this a "Legacy desktop solution" and recommends upgrading.  I think you will find that using a Window 10 machine will provide the experience you are looking for.  You will be able to build and run arm32v7 images.

[2017-08-14 19:02] richlander opened #278 "microsoft/dotnet latest tag updated to .NET Core 2.0"
# microsoft/dotnet `latest` tag updated to .NET Core 2.0 SDK

The `latest` tag for the [microsoft/dotnet](https://hub.docker.com/r/microsoft/dotnet/) repo has been updated to reference the [.NET Core 2.0](https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-net-core-2-0) SDK.

## Details

* [dotnet-docker #277](https://github.com/dotnet/dotnet-docker/pull/277)
* [aspnet-docker #278](https

[2017-08-15 09:34] TAGC commented on #276
Ah okay, I'll hold off on this until I upgrade to Windows 10.

[2017-08-15 13:00] MichaelSimons commented on #276
Once you upgrade, if you encounter issues feel free to open a new issue.  Closing issue.

[2017-08-15 13:00] #276 closed

[2017-08-16 04:43] Merurino opened #279 "Cannot run dotnet 2.0.0 project with runtime docker image."
## Steps to reproduce the issue
1. Create a new Project using `dotnet new webapi`
2. Go to this project folder (i.e. `dotnetapp` and add a `DockerFile` in it with the same instructions contained in https://hub.docker.com/r/microsoft/dotnet/
Content of the file:
[code]
3. As also pointed in the docker hub help, try to run the container:
[code]

## Expected behavior
The application runs as it runs w

[2017-08-16 05:39] natemcmaster commented on #279
It looks like you're trying to run an ASP.NET Core web app. Although this may have worked with ASP.NET Core 1.0 and 1.1, starting in 2.0 you need to either

(1) use `microsoft/aspnetcore` instead. This image bundles the ASP.NET Core Runtime Store

[code]

or (2) disable the publish-time trimming so that your dependencies assemblies are copied into your published output.
[code]

cc @glennc

[2017-08-16 06:35] #279 closed

[2017-08-16 06:36] Merurino commented on #279
Thanks a lot @natemcmaster , indeed now with .net core 2.0 I need to use the aspnetcore image. My project in version 1 was running on the SDK image that's why it was working even without the aspnetcore specific image.

Cheers

[2017-08-16 09:55] dasMulli commented on #278
Should the "old" 1.* images be updated to the 1.1.0 SDK to match VS 2017 15.3?

[2017-08-16 20:25] MichaelSimons commented on #278
@dasMulli - Thanks for pointing this out.  Yes the 1.* images should have been updated.  This has been fixed.  Please re-pull.

[2017-08-17 08:58] hach-que opened #281 "libuv not found under 2.0.0 runtime"
## Steps to reproduce the issue
1. Use a Dockerfile like so, with a .NET Core 2.0.0 application packaged:

[code]

## Expected behavior
libuv should be available and load properly in the `2.0.0-runtime` image.

## Actual behavior
[code]

## Additional information (e.g. issue happens only occasionally)
N/A

## Output of `docker version`

[code]

## Output of `docker info`

[code]

[2017-08-17 09:01] hach-que commented on #281
I should add, this is during work to upgrade from .NET Core 1.1.2 to 2.0.0. We've changed the target frameworks on the source code and Dockerfile from 1.1.2 to 2.0.0, and this is the problem we're encountering.

We're building the application on an OpenSUSE 42 based server and copying the packaged application to Docker. This previously worked fine on 1.1.2 under the exact same environment.

I'm go

[2017-08-17 09:17] hach-que commented on #281
Looks like switching to `2.0.0-runtime-jessie` fixes the issue.

[2017-08-18 07:48] Hermain opened #283 "Application runs in microsoft/dotnet:2.0-sdk container crashes in microsoft/dotnet:2.0-runtime"
## Steps to reproduce the issue
1. Dotnet published a basic .NetCore 2.0 web-application.
2. Put output into a empty directory inside docker image using "FROM microsoft/dotnet:2.0-runtime"
3. Execute dotnet DataStorage.dll in docker container

## Expected behavior
Application starts and listens on the specified port

## Actual behavior
[code]

## Additional information

If I change the dockerfile

[2017-08-18 07:58] natemcmaster commented on #283
The ASP.NET Core runtime store is not included in the "runtime only" image. You need to use `microsoft/aspnetcore:2.0.0` instead, or opt out of the runtime store trimming.

See also https://github.com/dotnet/dotnet-docker/issues/279#issuecomment-322671257.

cc @dotnet/dotnet-docker-contrib

[2017-08-18 08:04] DeepakTI opened #284 "dotnet application execution issues"
I have developed a sample dotnet web application using microsoft/dotnet:latest image.
After development i tried running it on supported dotnet run time as below:
microsoft/dotnet:2.0.0-runtime-jessie
microsoft/dotnet :1.1.2-runtime
microsoft/dotnet :1.0.5-runtime

The sample dotnet application executed successfully only on microsoft/dotnet :1.1.2-runtime out of three images above but failed on res

[2017-08-18 08:58] Hermain commented on #283
Thank you very much I used `PublishWithAspNetCoreTargetManifest` and the problem is solved while having a smaller docker image than microsoft/aspnetcore:2.0.0.

[2017-08-18 14:52] MichaelSimons commented on #283
Issue has been resolved - closing.

[2017-08-18 14:56] #283 closed

[2017-08-18 20:16] MichaelSimons commented on #284
@DeepakTI - It is by design that you can't take an app compiled against 1.1.* and run it on 1.0.* or 2.*  You should be able to run it on a new 1.1.* however.  [This](https://gist.github.com/schellap/c2260ee9755fce1d78a564183be4609d#shared-framework-selection) is the best description of the behavior I could find.  I logged an issue to provide clarity in the [.NET Core application deployment](https

[2017-08-18 23:11] ryanwalls opened #285 "Feature request: provide immutable docker image tag options"
Currently, all image tags on docker hub seem to be candidates for updating in place.  e.g.  the `microsoft/dotnet:1.1.2-sdk` tag was updated with a new image 2 days ago that broke our production deployment pipeline.

Ideally the project would provide tags that are immutable once pushed.

Currently the tags look like this:
[code]

I would propose keeping all those tags, but also adding immutable ta

[2017-08-18 23:38] pkrull commented on #285
+1

[2017-08-21 15:20] alexDrinkwater commented on #285
+1

[2017-08-23 21:16] richlander commented on #285
A few of us talked. Here is our plan.

* Remove the `1.0.5-sdk` image (and friends). It is the same as the 1.1 SDK image. Now that 1.1 is LTS, this tag doesn't seem needed. The CLI version is the same in both cases.
* Version the the 1.1 SDK image in terms of the 1.1 SDK version number not the 1.1 runtime.
* Update the 1.1.0 SDK (the SDK itself, not the Docker tag) to 1.1.3 next time it ships, whi

[2017-08-23 21:24] omajid commented on #285
That might break the workflow of users currently using this tag. Would it be possible to keep it but maybe not document it? More importantly, what about `1.0-sdk`? Does that get obsolete too? Maybe look into tagging one image as both `1.0-sdk` as well as `1.1-sdk`?

But going back to the original user reports, I am really confused. The request was for immutable tags, and no more in-place updates.

[2017-08-23 22:06] MichaelSimons opened #286 "Stop producing duplicated runtime-deps images"
Currently the runtime-deps Dockerfiles are identical between 1.0 and 1.1.  This results in two distinct images that are identical and therefore there are no layers that can be shared.  This is important when you have multiple self-contained apps running in Docker images based on the the various runtime-deps images.

[2017-08-23 23:38] ryanwalls commented on #285
@richlander I've read your comment a few times, and I think I'm missing some information about the future of versioning on dotnet core, so I can't fully grasp what you are proposing.  Specifically, I don't understand this line:

However the team decides to proceed, I just ask that a set of immutable semver compliant docker tags are used and documented.

i.e.  They follow rule 3 of semver, "Once a

[2017-08-24 18:39] MichaelSimons commented on #285
@ryanwalls - Our intent is to rev the image version number whenever a .NET Core component changes (e.g the Dockerfiles used to produce the images are changed).  The images however get rebuilt automatically when a new base image is available.  For example whenever debian:stretch is patched, the .NET Core images get rebuilt with the new base image.  If you truly want an immutable tag, then it seems

[2017-08-24 18:43] MichaelSimons commented on #285
@omajid

By 'Remove' @richlander's intent was that the tag is removed from the documentation.  New images would get multi-tagged with the old tags so as to not break existing usage just as you suggested.

[2017-08-24 19:18] MichaelSimons commented on #284
There is a related [Docs issue](https://github.com/dotnet/docs/issues/2880) to clarify the documentation on this topic.

[2017-08-24 19:18] #284 closed